/**
 * Theme Name: 24/7 Travel Stores Theme
 * Author: 502 Media Group
 * Author URI: http://502mediagroup.com/
 * Version: 1.5
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

* {
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

@media screen and (min-width: 600px) {
  .content-column:not(.last_column) {
    padding-right: 2em; } }

label.select-label {
  position: relative; }
  label.select-label:after {
    content: '\f0d7';
    font-family: "FontAwesome", sans-serif;
    position: absolute;
    right: 1em;
    top: 50%;
    color: #FFF;
    transform: translateY(-50%); }
  label.select-label select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 0;
    background: #fe0000;
    background: linear-gradient(145deg, #fe0000, #e90202);
    color: #FFF;
    padding: 1em 4em 1em 2em;
    border-radius: 100px;
    width: 100%; }

html body .gform_wrapper.gf_browser_ie {
  display: block !important; }

html body #post-625 {
  max-width: 70em; }

html body .gform_wrapper.gf_browser_chrome .gfield_checkbox li input, html body .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], html body .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
  margin-top: 0; }

html body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), html body .gform_wrapper textarea, html body input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), html body textarea {
  border: 1px solid #EFEFEF;
  border-radius: .25em; }

html body #gform_wrapper_4.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), html body .gform_wrapper textarea, html body input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), html body textarea {
  border: 1px solid #23232d;
  border-radius: .25em; }

html body .gform_wrapper label.gfield_label {
  font-weight: inherit; }

html body input, html body textarea {
  padding: .25em .5em; }

html body .gf_repeater_add, html body .gf_repeater_remove {
  background: #0c3762;
  color: #FFF;
  padding: .75em 1.25em;
  margin: 0 1em;
  display: inline-block; }

html body .gform_wrapper ul li.gfield.repeater-first-field {
  margin-top: 2em;
  border-top: 1px solid #23232d;
  padding-top: 2em; }

html body .ginput_container_repeater-end.ginput_container {
  padding: 2em 0; }

html body .gform_wrapper .gsection.gfield {
  border: none;
  margin-top: 4rem; }
  html body .gform_wrapper .gsection.gfield .gsection_title {
    font-size: 2rem; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"], .button, a.button {
  display: inline-block;
  border-radius: .25rem;
  color: #FFF;
  line-height: 1;
  /* Fallback */
  background: #0c3762;
  padding: .75em 1.25em;
  text-transform: uppercase;
  box-shadow: none;
  -webkit-appearance: none;
  border: none;
  font-family: "proximanova", Arial, sans-serif;
  margin: 1.5em 0;
  transition: all 200ms linear;
  text-decoration: none; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover, .button:hover, a.button:hover {
    cursor: pointer;
    border: none;
    color: #FFF; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus, .button:active, .button:focus, a.button:active, a.button:focus {
    border: none; }
  button.large,
  input.large[type="button"],
  input.large[type="reset"],
  input.large[type="submit"], .button.large, a.button.large {
    font-size: 1.25em; }
  button.small,
  input.small[type="button"],
  input.small[type="reset"],
  input.small[type="submit"], .button.small, a.button.small {
    font-size: .75em; }
  button.red,
  input.red[type="button"],
  input.red[type="reset"],
  input.red[type="submit"], .button.red, a.button.red {
    background: #dd232e; }
  button.blue-outline,
  input.blue-outline[type="button"],
  input.blue-outline[type="reset"],
  input.blue-outline[type="submit"], .button.blue-outline, a.button.blue-outline {
    background: #FFF;
    color: #376599;
    border: 2px solid #0c3762; }
    @media (min-width: 768px) {
      button.blue-outline:hover,
      input.blue-outline[type="button"]:hover,
      input.blue-outline[type="reset"]:hover,
      input.blue-outline[type="submit"]:hover, .button.blue-outline:hover, a.button.blue-outline:hover {
        color: #FFF;
        background: #0c3762; } }
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%; }
  table.scroll {
    overflow-x: scroll;
    position: relative; }
    @media (max-width: 60em) {
      table.scroll {
        display: block; } }
  table thead, table tfoot {
    background: #EFEFEF; }
  table thead {
    background: #114f8c;
    color: #FFF;
    font-size: 125%; }
  table thead, table tbody, table tfoot {
    border: 1px solid #EFEFEF; }
  table th {
    font-weight: bold;
    text-align: left; }
  table th, table td {
    padding: 1em;
    border: none; }
  table tr:nth-child(even) {
    background: #EFEFEF; }

.table-scroll {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  .table-scroll:after, .table-scroll:before {
    content: 'Scroll for more information \f105';
    font-family: "FontAwesome", "proximanova", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 0;
    display: none; }
    @media (max-width: 60em) {
      .table-scroll:after, .table-scroll:before {
        display: block; } }
  .table-scroll:after {
    bottom: 0;
    transform: translateY(100%); }
  .table-scroll:before {
    top: 0;
    transform: translateY(-100%); }

.give-padding {
  padding-left: 1em;
  padding-right: 1em; }

.centered-text {
  text-align: center; }

.align-center {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .align-center {
      display: block; } }
.alignright {
  float: right; }

img.aligncenter {
  display: block;
  margin: 1.5em auto;
  clear: both; }

.alignnone {
  float: none;
  display: block;
  width: 100%; }
  .alignnone a.imgwrap {
    display: block; }
  .alignnone img {
    display: block;
    margin: 0 auto; }

img.alignnone {
  display: block;
  clear: both;
  margin: 1.5em auto; }

.alignleft {
  float: left; }

img.alignright {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

img.alignleft {
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

.wp-caption {
  background: #EFEFEF;
  padding: 1.5em 1em;
  margin: 1.5rem 0; }
  .wp-caption:after {
    content: "";
    display: table;
    clear: both; }
  .wp-caption .wp-caption-text {
    margin: 0;
    margin-top: 1.5em; }

.full-width {
  margin-left: -30vw;
  margin-right: -30vw;
  padding-left: 30vw;
  padding-right: 30vw;
  overflow: hidden; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #333;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

.magnific {
  position: relative;
  background: #FFF;
  padding: 1rem;
  width: 80%;
  max-width: 500px;
  margin: 0 auto; }
  .magnific .mfp-close {
    margin: 0; }

.mfp-content {
  -webkit-animation: slideInUp 350ms 1;
          animation: slideInUp 350ms 1; }

.mfp-close {
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .mfp-close:hover {
    box-shadow: none; }

.mfp-bg.mfp-removing {
  opacity: 0;
  transition: all 300ms linear; }

.mfp-wrap.mfp-removing .mfp-content {
  transform: scale(0);
  transition: all 200ms linear; }

@-webkit-keyframes slideInUp {
  from {
    transform: translate3d(0, 100vh, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100vh, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp; }

.hidden {
  display: none; }

@font-face {
  font-family: 'Futura';
  src: url("static/fonts/324715_0_0.eot");
  src: url("static/fonts/324715_0_0.eot?#iefix") format("embedded-opentype"), url("static/fonts/324715_0_0.woff2") format("woff2"), url("static/fonts/324715_0_0.woff") format("woff"), url("static/fonts/324715_0_0.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: 'proximanova';
  src: url("static/fonts/proximanova-regular-webfont.eot");
  src: url("static/fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("static/fonts/proximanova-regular-webfont.woff2") format("woff2"), url("static/fonts/proximanova-regular-webfont.woff") format("woff"), url("static/fonts/proximanova-regular-webfont.ttf") format("truetype"), url("static/fonts/proximanova-regular-webfont.svg#proximanova") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proximanova';
  src: url("static/fonts/proximanova-bold-webfont.eot");
  src: url("static/fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("static/fonts/proximanova-bold-webfont.woff2") format("woff2"), url("static/fonts/proximanova-bold-webfont.woff") format("woff"), url("static/fonts/proximanova-bold-webfont.ttf") format("truetype"), url("static/fonts/proximanova-bold-webfont.svg#proximanova") format("svg");
  font-weight: bold;
  font-style: normal; }

.futura, .Futura {
  font-family: "Futura", "proximanova", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

html, body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.5;
  font-family: "proximanova", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #FFF;
  scroll-behavior: smooth; }

h1, h2, h3, h4, h5, h6 {
  font-family: "proximanova", Arial, sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.article-wrapper {
  max-width: 50em;
  margin: 0 auto; }
  .article-wrapper:after {
    content: "";
    display: table;
    clear: both; }

blockquote {
  border-left: 4px solid #333333;
  background: #EFEFEF;
  margin: 0;
  padding: 1.5rem 2rem 0;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  blockquote:after {
    content: "";
    display: table;
    clear: both; }

p {
  margin: auto auto 2rem; }

a {
  color: #114f8c;
  border-bottom: 1px solid #114f8c;
  text-decoration: none;
  transition: all 200ms linear; }
  a:hover {
    color: #0c3762;
    border-bottom: 1px solid #0c3762; }
  a.imgwrap {
    border: none; }

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

ul li,
ol li {
  line-height: 1.5; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-bottom: 1.5rem;
  line-height: 1;
  margin-top: 0; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    border-bottom: none; }

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-bottom: 2rem; }

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-bottom: .5rem; }

h3 {
  font-size: 1.414rem; }

h4, h5, h6 {
  font-size: 1rem;
  margin-bottom: 1.5rem; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Hug the block below you */
.hug {
  margin-bottom: 0; }

.futura {
  font-family: "Futura", Arial, sans-serif;
  text-transform: uppercase; }

.blue-text {
  color: #114f8c; }

.page-title {
  font-family: "Futura", Arial, sans-serif;
  text-align: center;
  color: #FFF;
  text-shadow: 0 0 1rem rgba(35, 35, 45, 0.85);
  margin: 0;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1; }
  @media (min-width: 25em) {
    .page-title {
      font-size: 3em; } }
  @media (min-width: 48em) {
    .page-title {
      font-size: 4.242rem;
      line-height: 4.5rem; } }
.content-wrapper h2, .content h2 {
  color: #114f8c;
  text-transform: uppercase;
  font-family: "Futura", Arial, sans-serif; }

hr {
  background: #EFEFEF;
  margin: 4em 0;
  color: #EFEFEF;
  border-color: #EFEFEF;
  fill: #EFEFEF; }

.gmb-infobubble a {
  border-bottom: none; }

#header {
  font-weight: bold; }
  @media (min-width: 81.3125em) and (max-width: 93.75em) {
    #header {
      font-size: 80%; } }
  #header .logo {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    position: absolute;
    top: 0;
    top: -28px; }
    #header .logo img {
      position: relative;
      min-height: 200px;
      min-width: 400px; }
    #header .logo-link {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      border: none; }
  #header .mobile-header {
    display: none; }
  #header #menu-toggle {
    display: block;
    background: none;
    font-size: 1.5em;
    padding: 0;
    border-radius: 0;
    margin: 0 0 .25em 0;
    box-shadow: none;
    display: none; }
  #header .nav-wrapper, #header .mobile-wrap {
    display: flex;
    flex-direction: column;
    position: relative; }
  #header #nav-main, #header #nav-secondary {
    text-align: right;
    padding-right: 2em;
    text-transform: uppercase; }
    #header #nav-main:after, #header #nav-secondary:after {
      content: "";
      display: table;
      clear: both; }
    #header #nav-main ul, #header #nav-secondary ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      #header #nav-main ul li, #header #nav-secondary ul li {
        display: inline-block; }
        #header #nav-main ul li + li, #header #nav-secondary ul li + li {
          margin-left: 1em; }
    #header #nav-main .sub-menu, #header #nav-secondary .sub-menu {
      display: none; }
    #header #nav-main a, #header #nav-secondary a {
      display: inline-block; }
  #header #nav-main {
    background: rgba(255, 255, 255, 0.75);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    order: 2;
    width: 100%; }
    #header #nav-main a {
      border: none; }
  #header #nav-secondary {
    background: #114f8c;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    order: 1;
    width: 100%;
    font-size: .85em; }
    #header #nav-secondary a {
      color: #FFF;
      border: none; }
    #header #nav-secondary #menu-secondary {
      display: inline-block;
      padding-right: 2em;
      border-right: 2px solid #376599;
      margin-right: 2em; }
    #header #nav-secondary .login.button {
      margin: 0;
      font-size: .9em;
      padding: 1em 1.5em; }

@media (max-width: 81.25em) {
  #header .nav-wrapper {
    background: #0c3762;
    background: #114f8c;
    color: #FFF;
    max-width: 300px;
    margin-left: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    padding-top: 6em;
    height: 100vh;
    overflow: auto;
    overflow-y: scroll;
    transition: all 200ms linear;
    transform: translateX(300px); }
  #header .mobile-header {
    display: block;
    background: #0c3762;
    background: #114f8c;
    padding: 1em;
    position: relative;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    height: 4em; }
  #header .mobile-logo {
    color: #FFF;
    background: url("static/images/mobile-logo.png");
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 110px;
    height: 80px;
    position: relative;
    border: none;
    top: -1em; }
  #header .logo {
    display: none; }
  #header .location-link {
    color: #FFF;
    border: none;
    font-size: 1.75em;
    position: relative;
    top: -8px; }
  #header #menu-toggle {
    display: block; }
  #header #nav-main .sub-menu, #header #nav-secondary .sub-menu {
    display: none; }
    #header #nav-main .sub-menu li, #header #nav-main .sub-menu a, #header #nav-secondary .sub-menu li, #header #nav-secondary .sub-menu a {
      display: block; }
  #header #nav-main ul, #header #nav-main li, #header #nav-main a, #header #nav-main ul li, #header #nav-main ul li a, #header #nav-secondary ul, #header #nav-secondary li, #header #nav-secondary a, #header #nav-secondary ul li, #header #nav-secondary ul li a {
    display: block; }
  #header #nav-main ul li + li, #header #nav-secondary ul li + li {
    margin: 0; }
  #header .menu-item-has-children > a:after {
    content: '\f107';
    font-family: "FontAwesome", "proximanova", Helvetica, Arial, sans-serif;
    margin-left: 1em; }
  #header #nav-main {
    padding: 0;
    order: 0;
    background: none; }
    #header #nav-main a {
      background: #FFF;
      display: block;
      border-bottom: 1px solid #0c3762;
      padding: .5em 1rem; }
    #header #nav-main .sub-menu {
      display: block;
      background: #0c3762;
      text-align: right;
      display: none; }
      #header #nav-main .sub-menu a {
        background: #0c3762;
        color: #FFF;
        border-bottom: 1px solid #114f8c; }
  #header #nav-secondary {
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #114f8c;
    padding-bottom: 1em; }
    #header #nav-secondary #menu-secondary {
      padding: 0;
      border: none;
      display: block;
      margin: 0;
      order: 2; }
    #header #nav-secondary ul li a {
      padding: .5em 1rem; }
    #header #nav-secondary .button.login {
      width: 70%;
      margin: 3em auto;
      text-align: center;
      outline: 3em solid #FFF;
      box-shadow: 0 0 0 1em #FFF; } }

#header.nav-open .nav-wrapper {
  transform: translateX(0px); }

#footer {
  background: #0c3762; }
  #footer a {
    color: #FFF;
    border-bottom: none; }

.quick-links {
  background: #114f8c;
  padding: 1.5em 0;
  text-align: center;
  line-height: 2; }
  .quick-links .link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 48em) {
      .quick-links .link-wrapper {
        flex-direction: row; }
        .quick-links .link-wrapper a {
          width: 20%; }
        .quick-links .link-wrapper .sep {
          width: 2px;
          height: 2em;
          margin: 0; } }
  .quick-links .sep {
    width: 75%;
    height: 2px;
    margin: 1em 0;
    display: inline-block;
    background: #0c3762; }
  .quick-links a {
    font-size: 80%;
    display: inline-block;
    margin: 0 2em;
    text-transform: uppercase; }

.social-links {
  padding: 2em 0;
  text-align: center; }
  .social-links .link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
  .social-links a {
    display: inline-block;
    margin: 0 1em;
    min-width: 10%;
    max-width: 8em; }

.copyright {
  color: #E6E6E6;
  font-size: .75em; }

#footer .agency {
  color: #E6E6E6;
  padding-bottom: 1rem;
  font-size: .75em; }
  #footer .agency a {
    color: #E6E6E6; }

.fuel-prices {
  margin: -6em 0 4em;
  border-radius: 1em;
  overflow: hidden; }
  .fuel-prices .title {
    font-family: "Futura", Arial, sans-serif;
    color: #FFF;
    padding: .25em 1em;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase; }
  .fuel-prices .prices {
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    align-items: stretch;
    padding: 1em 0; }
    @media (min-width: 48em) {
      .fuel-prices .prices {
        flex-direction: row;
        justify-content: space-between; } }
  .fuel-prices .price-wrapper {
    padding: 0 1em;
    margin: 1em 0;
    flex: 1 0 auto; }
    @media (min-width: 48em) {
      .fuel-prices .price-wrapper + .price-wrapper {
        border-left: 1px solid #FFF; } }
  .fuel-prices .price-name {
    font-weight: 700;
    text-transform: uppercase; }
  .fuel-prices .price {
    font-family: "Futura", Arial, sans-serif;
    font-size: 2em;
    margin-top: .5em; }
  .fuel-prices[data-tab="cash"] .title {
    background: #54742A; }
  .fuel-prices[data-tab="cash"] .prices {
    background: #36491C; }
  .fuel-prices[data-tab="cash"] .price-tabs .tab.cash {
    color: #FFF;
    background: #36491C;
    border-radius: 0 0 1rem 1rem; }
  .fuel-prices[data-tab="credit"] .title {
    background: #7B0B14; }
  .fuel-prices[data-tab="credit"] .prices {
    background: #520B11; }
  .fuel-prices[data-tab="credit"] .price-tabs .tab.credit {
    color: #FFF;
    background: #520B11;
    border-radius: 0 0 1rem 1rem; }
  .fuel-prices[data-tab="debit"] .title {
    background: #114f8c; }
  .fuel-prices[data-tab="debit"] .prices {
    background: #0c3762; }
  .fuel-prices[data-tab="debit"] .price-tabs .tab.debit {
    color: #FFF;
    background: #0c3762;
    border-radius: 0 0 1rem 1rem; }
  .fuel-prices .price-tabs {
    display: flex;
    float: left;
    background: linear-gradient(to right, #EFEFEF 0%, #EFEFEF 70%, #FFF 70%); }
    @media (min-width: 48em) {
      .fuel-prices .price-tabs {
        width: 50%; } }
    @media (min-width: 60em) {
      .fuel-prices .price-tabs {
        width: 80%; } }
    .fuel-prices .price-tabs .tab {
      background: #EFEFEF;
      padding: .5em 1em;
      line-height: 1;
      font-family: "Futura", Arial, sans-serif;
      font-size: 4vw;
      text-transform: uppercase; }
      @media (min-width: 48.0625em) {
        .fuel-prices .price-tabs .tab {
          font-size: 2em; } }
      @media (min-width: 60em) {
        .fuel-prices .price-tabs .tab {
          font-size: 2em; } }
      .fuel-prices .price-tabs .tab:hover {
        cursor: pointer; }
      .fuel-prices .price-tabs .tab.credit {
        color: #7B0B14; }
      .fuel-prices .price-tabs .tab.debit {
        color: #114f8c; }
      .fuel-prices .price-tabs .tab.cash {
        color: #54742A;
        border-radius: 0 0 1rem 0; }
  .fuel-prices .pricing-options {
    float: right;
    margin-top: 2em;
    margin-right: 1em;
    font-size: .75em; }

.page-title-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.single-location .page-title {
  margin-bottom: 3rem; }

.single-location .page-title-wrapper {
  padding-bottom: 6em; }

.single-location .location-info, .single-location .attraction-info, .single-location .service-info {
  margin-top: 2em; }
  .single-location .location-info h2, .single-location .attraction-info h2, .single-location .service-info h2 {
    color: #114f8c;
    font-family: "Futura", Arial, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 0; }

.single-location .left-column-hr {
  width: 90%;
  background: #EFEFEF;
  text-align: left;
  margin: 2em auto; }
  @media (min-width: 48em) {
    .single-location .left-column-hr {
      width: 40%;
      margin: 2em auto 2em 0; } }
.single-location .location-info {
  display: flex; }

@media (min-width: 48em) {
  .single-location .promo {
    float: right;
    max-width: 50%;
    width: 100%; } }

.single-location .promo img {
  display: block;
  margin: 2em auto; }

.single-location .service-icons {
  margin-top: .5em;
  margin-bottom: 1em; }

.single-location .service-icon {
  vertical-align: top;
  margin: 0 .5em 1em; }

.single-location .block-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.single-location .directions-link, .single-location .phone-link {
  display: inline-block;
  margin-top: 1em; }

.single-location .weather-info {
  text-align: right;
  margin-left: 8em; }
  .single-location .weather-info .description {
    color: #114f8c;
    text-transform: uppercase; }
  .single-location .weather-info .temperature {
    color: #114f8c;
    font-family: "Futura", Arial, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase; }
  .single-location .weather-info .icon {
    width: 5em; }

.single-location .attraction-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column; }
  @media (min-width: 48em) {
    .single-location .attraction-info {
      flex-direction: row; } }
  .single-location .attraction-info .attraction-list {
    color: #114f8c;
    padding: 0 0 0 1em; }
    .single-location .attraction-info .attraction-list a {
      border-bottom: 0px solid #114f8c; }
      .single-location .attraction-info .attraction-list a:hover {
        border-bottom: 1px solid #114f8c; }
    .single-location .attraction-info .attraction-list li + li {
      margin-top: 1em; }
  .single-location .attraction-info #location-map {
    width: 100%;
    height: 400px; }
    @media (min-width: 48em) {
      .single-location .attraction-info #location-map {
        max-width: 50%; } }
.post-type-archive-location .archive-header {
  text-align: center;
  margin: 1em 0; }

.post-type-archive-location .article-wrapper {
  max-width: none; }

.locations-table {
  min-width: 100%; }
  .locations-table .sub {
    display: block;
    font-size: 75%; }
  @media (max-width: 48em) {
    .locations-table tr, .locations-table tbody, .locations-table thead {
      display: block;
      width: 100%; }
    .locations-table thead tr td:not(:first-child) {
      display: none; }
    .locations-table tbody td {
      text-align: left;
      padding-top: .25em;
      padding-bottom: .25em; }
      .locations-table tbody td:first-child {
        font-weight: bold;
        text-transform: uppercase; }
    .locations-table .unleaded-price:before {
      content: 'Unleaded - 10% Ethanol: '; }
    .locations-table .regular-unleaded-price:before {
      content: 'Regular Unleaded - Pure Gasoline: '; }
    .locations-table .mid-grade-price:before {
      content: 'Mid-Grade - 10% Ethanol: '; }
    .locations-table .premium-price:before {
      content: 'Premium - 10% Ethanol: '; }
    .locations-table .diesel-price:before {
      content: 'Diesel: '; }
    .locations-table .bulk-def-price:before {
      content: 'Bulk DEF: '; } }
  .locations-table td {
    display: block;
    text-align: center;
    white-space: nowrap;
    width: 100%; }
    @media (min-width: 48em) {
      .locations-table td {
        display: table-cell;
        width: auto; } }
  .locations-table td:first-child {
    text-align: left;
    width: 100%; }

@media (max-width: 48em) {
  .biodiesel-ratio {
    display: none !important; } }

@media (min-width: 48em) {
  .diesel-table-head {
    padding-right: unset;
    text-align: right !important; }
  .diesel-price {
    padding-right: 0.25rem;
    text-align: right !important; }
  .biodiesel-ratio {
    display: table-cell !important;
    font-size: 14px;
    text-align: left !important;
    padding-left: unset; } }

.mobile-biodiesel {
  display: inline-block;
  font-size: 14px; }
  @media (min-width: 768px) {
    .mobile-biodiesel {
      display: none; } }
.reward-card-categories {
  text-align: center;
  margin: 2em 0 4em;
  display: none; }
  @media (min-width: 48em) {
    .reward-card-categories {
      display: block; } }
  .reward-card-categories p {
    text-transform: uppercase;
    color: #114f8c;
    font-weight: bold; }
  .reward-card-categories .categories-list {
    margin: 0;
    padding: 0;
    text-align: center; }
    .reward-card-categories .categories-list li {
      display: inline-block; }
    .reward-card-categories .categories-list a {
      display: inline-block;
      margin: .5em; }
    .reward-card-categories .categories-list .current {
      background: #dd232e; }

.reward-cards {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .reward-cards:after {
    content: " ";
    display: block;
    clear: both; }
  .reward-cards .card {
    min-height: 20em; }
    @media (min-width: 48em) {
      .reward-cards .card {
        width: 49.1525423729%;
        float: left;
        margin-right: 1.6949152542%;
        margin-bottom: 4em; }
        .reward-cards .card:nth-child(2n) {
          width: 49.1525423729%;
          float: right;
          margin-right: 0; } }
    .reward-cards .card p {
      margin: 0; }
    .reward-cards .card .button {
      margin: 1em 0; }
    .reward-cards .card .card-image-link {
      display: block; }
  .reward-cards .card-tagline {
    font-family: "Futura", Arial, sans-serif;
    text-transform: uppercase;
    color: #114f8c;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1.25em; }

.rewards-calculator {
  border: 2px solid #114f8c;
  border-radius: .5em;
  margin: -4em 0 4em; }
  .rewards-calculator .title {
    background: #114f8c;
    color: #FFF;
    font-size: 2em;
    font-family: "Futura", Arial, sans-serif;
    text-transform: uppercase;
    padding: .75em 2em;
    text-align: center;
    line-height: 1; }
  .rewards-calculator .gas, .rewards-calculator .diesel {
    padding: 2em 2em; }
    @media (min-width: 47.5em) {
      .rewards-calculator .gas, .rewards-calculator .diesel {
        width: 49.1525423729%;
        float: left;
        margin-right: 1.6949152542%; } }
  .rewards-calculator h3 {
    text-align: center;
    color: #114f8c;
    font-size: 2em; }
  @media (min-width: 47.5em) {
    .rewards-calculator .diesel {
      width: 49.1525423729%;
      float: right;
      margin-right: 0; } }
  .rewards-calculator input {
    display: block;
    width: 75%;
    margin: 0 auto;
    font-size: 1em;
    padding: .5em 0 .5em 1em;
    border: 1px solid #ccc !important; }
  .rewards-calculator .disclaimer {
    font-size: 75%;
    text-align: right;
    margin: 0 2rem 0 auto;
    width: 75%; }
    @media (min-width: 48em) {
      .rewards-calculator .disclaimer {
        width: 25%; } }
  .rewards-calculator .results .loader {
    width: 10em;
    margin: 1em auto;
    display: none; }
    .rewards-calculator .results .loader img {
      width: 100%;
      display: block; }
  .rewards-calculator .results .savings {
    text-align: center;
    font-size: 2em;
    color: #114f8c;
    font-weight: 700;
    display: none;
    text-transform: uppercase; }
  .rewards-calculator button {
    display: block;
    margin: 0 auto 1em;
    background: #dd232e;
    position: relative;
    top: 2.25em; }

.store-specials {
  margin-top: 2em; }
  @media (min-width: 48em) {
    .store-specials {
      margin-top: 4em; } }
  .store-specials img {
    display: block;
    width: 100%; }
  .store-specials .special {
    display: block; }
  .store-specials .special-large {
    width: 100%; }
  .store-specials .special-small {
    width: 49.1525423729%;
    float: left;
    margin-right: 1.6949152542%; }
    .store-specials .special-small:last-child {
      width: 49.1525423729%;
      float: right;
      margin-right: 0; }
  .store-specials .small-specials {
    margin-top: 1em; }
  .store-specials .special-small img, .store-specials .special-large img {
    box-shadow: 0.1em 0.1em 1em rgba(35, 35, 45, 0.5); }
  .store-specials .flyer {
    margin: 2em auto 0;
    max-width: 50em; }
    @media (min-width: 48em) {
      .store-specials .flyer {
        margin: 4em auto 0; } }
  .store-specials .flyer-download-button {
    background: #EFEFEF;
    color: #114f8c; }
    .store-specials .flyer-download-button:hover {
      color: #114f8c; }
  .store-specials p.centered-text {
    margin: 0; }

.page-template-store-specials .article-wrapper {
  max-width: 100%; }

.page-template-careers .article-wrapper, .page-template-openings .article-wrapper, .page-template-career-department .article-wrapper, .page-template-careers-v2 .article-wrapper {
  max-width: 70em; }

.page-template-careers .join, .page-template-careers .benefits, .page-template-openings .join, .page-template-openings .benefits, .page-template-career-department .join, .page-template-career-department .benefits, .page-template-careers-v2 .join, .page-template-careers-v2 .benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 48em) {
    .page-template-careers .join, .page-template-careers .benefits, .page-template-openings .join, .page-template-openings .benefits, .page-template-career-department .join, .page-template-career-department .benefits, .page-template-careers-v2 .join, .page-template-careers-v2 .benefits {
      flex-direction: row; } }
.page-template-careers .join-image, .page-template-openings .join-image, .page-template-career-department .join-image, .page-template-careers-v2 .join-image {
  display: block;
  width: 100%;
  order: 2; }
  @media (min-width: 48em) {
    .page-template-careers .join-image, .page-template-openings .join-image, .page-template-career-department .join-image, .page-template-careers-v2 .join-image {
      max-width: 50%;
      order: 0; } }
  .page-template-careers .join-image img, .page-template-openings .join-image img, .page-template-career-department .join-image img, .page-template-careers-v2 .join-image img {
    display: block; }

@media (min-width: 48em) {
  .page-template-careers .join-info, .page-template-openings .join-info, .page-template-career-department .join-info, .page-template-careers-v2 .join-info {
    margin-left: 2em;
    max-width: 50%; } }

.page-template-careers .join-subtitle, .page-template-openings .join-subtitle, .page-template-career-department .join-subtitle, .page-template-careers-v2 .join-subtitle {
  color: #dd232e;
  text-transform: uppercase;
  margin-bottom: .5rem;
  font-size: 1.25em; }

@media (min-width: 48em) {
  .page-template-careers .benefits-info, .page-template-openings .benefits-info, .page-template-career-department .benefits-info, .page-template-careers-v2 .benefits-info {
    margin-right: 2em;
    max-width: 40%; } }

.page-template-careers .benefits-subtitle, .page-template-openings .benefits-subtitle, .page-template-career-department .benefits-subtitle, .page-template-careers-v2 .benefits-subtitle {
  margin-bottom: 1em; }

.page-template-careers .benefits-image, .page-template-openings .benefits-image, .page-template-career-department .benefits-image, .page-template-careers-v2 .benefits-image {
  display: block;
  width: 100%; }
  @media (min-width: 48em) {
    .page-template-careers .benefits-image, .page-template-openings .benefits-image, .page-template-career-department .benefits-image, .page-template-careers-v2 .benefits-image {
      max-width: 60%; } }
.page-template-careers .benefits-icons img, .page-template-openings .benefits-icons img, .page-template-career-department .benefits-icons img, .page-template-careers-v2 .benefits-icons img {
  width: 15.2542372881%;
  float: left;
  margin-right: 1.6949152542%;
  padding: 1em .5em; }
  .page-template-careers .benefits-icons img:last-child, .page-template-openings .benefits-icons img:last-child, .page-template-career-department .benefits-icons img:last-child, .page-template-careers-v2 .benefits-icons img:last-child {
    width: 15.2542372881%;
    float: right;
    margin-right: 0; }

.page-template-careers hr.no-top-margin, .page-template-openings hr.no-top-margin, .page-template-career-department hr.no-top-margin, .page-template-careers-v2 hr.no-top-margin {
  margin-top: 0; }

.page-template-careers .careers-call-to-action, .page-template-careers .openings-call-to-action, .page-template-openings .careers-call-to-action, .page-template-openings .openings-call-to-action, .page-template-career-department .careers-call-to-action, .page-template-career-department .openings-call-to-action, .page-template-careers-v2 .careers-call-to-action, .page-template-careers-v2 .openings-call-to-action {
  background: #EFEFEF;
  padding: 2em;
  margin: 0 auto; }
  @media (min-width: 48em) {
    .page-template-careers .careers-call-to-action, .page-template-careers .openings-call-to-action, .page-template-openings .careers-call-to-action, .page-template-openings .openings-call-to-action, .page-template-career-department .careers-call-to-action, .page-template-career-department .openings-call-to-action, .page-template-careers-v2 .careers-call-to-action, .page-template-careers-v2 .openings-call-to-action {
      max-width: 75%; } }
  .page-template-careers .careers-call-to-action p, .page-template-careers .openings-call-to-action p, .page-template-openings .careers-call-to-action p, .page-template-openings .openings-call-to-action p, .page-template-career-department .careers-call-to-action p, .page-template-career-department .openings-call-to-action p, .page-template-careers-v2 .careers-call-to-action p, .page-template-careers-v2 .openings-call-to-action p {
    color: #dd232e;
    font-size: 1.5em; }
  .page-template-careers .careers-call-to-action .button, .page-template-careers .openings-call-to-action .button, .page-template-openings .careers-call-to-action .button, .page-template-openings .openings-call-to-action .button, .page-template-career-department .careers-call-to-action .button, .page-template-career-department .openings-call-to-action .button, .page-template-careers-v2 .careers-call-to-action .button, .page-template-careers-v2 .openings-call-to-action .button {
    margin: 0; }

.page-template-careers .job-openings, .page-template-openings .job-openings, .page-template-career-department .job-openings, .page-template-careers-v2 .job-openings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .page-template-careers .job-openings .job-opening, .page-template-openings .job-openings .job-opening, .page-template-career-department .job-openings .job-opening, .page-template-careers-v2 .job-openings .job-opening {
    flex: 0 1 100%;
    border: 1px solid #114f8c;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (min-width: 48em) {
      .page-template-careers .job-openings .job-opening, .page-template-openings .job-openings .job-opening, .page-template-career-department .job-openings .job-opening, .page-template-careers-v2 .job-openings .job-opening {
        flex: 0 1 30%; } }
    .page-template-careers .job-openings .job-opening .button, .page-template-openings .job-openings .job-opening .button, .page-template-career-department .job-openings .job-opening .button, .page-template-careers-v2 .job-openings .job-opening .button {
      margin: 1rem 0 0;
      align-self: flex-end; }
  .page-template-careers .job-openings .opening-title, .page-template-openings .job-openings .opening-title, .page-template-career-department .job-openings .opening-title, .page-template-careers-v2 .job-openings .opening-title {
    font-size: 1.75em;
    flex: 1 0 100%; }

.page-template-careers .why-work-here-description, .page-template-openings .why-work-here-description, .page-template-career-department .why-work-here-description, .page-template-careers-v2 .why-work-here-description {
  max-width: 50em;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem; }

.page-template-careers .intro-images, .page-template-openings .intro-images, .page-template-career-department .intro-images, .page-template-careers-v2 .intro-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem; }
  .page-template-careers .intro-images img, .page-template-openings .intro-images img, .page-template-career-department .intro-images img, .page-template-careers-v2 .intro-images img {
    max-width: 350px;
    margin-bottom: 2rem; }

.page-template-careers .career-departments, .page-template-openings .career-departments, .page-template-career-department .career-departments, .page-template-careers-v2 .career-departments {
  margin-top: 2rem;
  margin-bottom: 4rem; }
  .page-template-careers .career-departments a, .page-template-openings .career-departments a, .page-template-career-department .career-departments a, .page-template-careers-v2 .career-departments a {
    display: block;
    margin: 1rem; }
    .page-template-careers .career-departments a img, .page-template-openings .career-departments a img, .page-template-career-department .career-departments a img, .page-template-careers-v2 .career-departments a img {
      display: block;
      width: 100%; }
  @media (min-width: 48em) {
    .page-template-careers .career-departments, .page-template-openings .career-departments, .page-template-career-department .career-departments, .page-template-careers-v2 .career-departments {
      display: flex;
      flex-wrap: wrap; }
      .page-template-careers .career-departments a, .page-template-openings .career-departments a, .page-template-career-department .career-departments a, .page-template-careers-v2 .career-departments a {
        flex: 0 1 calc(50% - 2rem); } }
.page-template-careers .current-openings-byline, .page-template-openings .current-openings-byline, .page-template-career-department .current-openings-byline, .page-template-careers-v2 .current-openings-byline {
  font-size: 2em;
  color: #dd232e; }

@media (min-width: 48em) {
  .page-template-careers .current-openings, .page-template-openings .current-openings, .page-template-career-department .current-openings, .page-template-careers-v2 .current-openings {
    display: flex;
    justify-content: space-between; } }

.page-template-careers .current-openings .opening, .page-template-openings .current-openings .opening, .page-template-career-department .current-openings .opening, .page-template-careers-v2 .current-openings .opening {
  background: #EFEFEF;
  padding: 1rem;
  text-align: center;
  max-width: 50%;
  margin: 2rem auto;
  flex: 0 0 30%; }
  .page-template-careers .current-openings .opening .opening-title, .page-template-openings .current-openings .opening .opening-title, .page-template-career-department .current-openings .opening .opening-title, .page-template-careers-v2 .current-openings .opening .opening-title {
    text-transform: uppercase;
    margin: 0;
    color: #114f8c;
    font-family: "Futura", Arial, sans-serif;
    font-size: 2em; }
  .page-template-careers .current-openings .opening .opening-location, .page-template-openings .current-openings .opening .opening-location, .page-template-career-department .current-openings .opening .opening-location, .page-template-careers-v2 .current-openings .opening .opening-location {
    color: #dd232e;
    font-size: 1.5em; }
  .page-template-careers .current-openings .opening .button, .page-template-openings .current-openings .opening .button, .page-template-career-department .current-openings .opening .button, .page-template-careers-v2 .current-openings .opening .button {
    margin: .5rem;
    font-weight: 700; }

.page-template-careers .current-openings .table-scroll, .page-template-openings .current-openings .table-scroll, .page-template-career-department .current-openings .table-scroll, .page-template-careers-v2 .current-openings .table-scroll {
  width: 100%; }

.page-template-careers .current-openings table, .page-template-openings .current-openings table, .page-template-career-department .current-openings table, .page-template-careers-v2 .current-openings table {
  text-align: center; }
  .page-template-careers .current-openings table th, .page-template-openings .current-openings table th, .page-template-career-department .current-openings table th, .page-template-careers-v2 .current-openings table th {
    background: #114f8c;
    color: #FFF;
    font-size: 1.25em;
    text-align: center; }
  .page-template-careers .current-openings table .apply-now, .page-template-openings .current-openings table .apply-now, .page-template-career-department .current-openings table .apply-now, .page-template-careers-v2 .current-openings table .apply-now {
    font-weight: bold; }

.single-job_opening .job-description {
  margin-top: 4rem; }

.single-job_opening .benefits {
  margin-bottom: 4rem;
  margin-top: 4rem; }
  .single-job_opening .benefits h2 {
    margin-bottom: 2rem; }
  .single-job_opening .benefits-icons {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .single-job_opening .benefits-icons:after {
      content: " ";
      display: block;
      clear: both; }
  .single-job_opening .benefits-icons img {
    width: 15.2542372881%;
    float: left;
    margin-right: 1.6949152542%;
    padding: 1em .5em; }
    .single-job_opening .benefits-icons img:last-child {
      width: 15.2542372881%;
      float: right;
      margin-right: 0; }

.single-job_opening .job_duties_subtitle {
  color: #dd232e; }

.careers-header {
  max-width: 100%;
  margin: -5rem auto 3rem;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  min-height: 525px; }
  .careers-header .first-div {
    width: 5806px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
    background-size: contain;
    min-height: 540px;
    background-repeat: no-repeat; }
  .careers-header .infinite-scroller {
    -webkit-animation: infiniScroll 30s linear infinite;
            animation: infiniScroll 30s linear infinite; }

@-webkit-keyframes infiniScroll {
  100% {
    transform: translateX(-46.5%); } }

@keyframes infiniScroll {
  100% {
    transform: translateX(-46.5%); } }
  .careers-header__overlay {
    max-width: 60rem;
    width: 100%;
    display: flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 1rem; }
    @media (min-width: 1023px) {
      .careers-header__overlay {
        top: 70%;
        transform: translate(-50%, -70%);
        padding: 0; } }
    .careers-header__overlay .header-cta-box {
      max-width: 22.5rem;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 1rem 1.5rem;
      border-radius: 5px;
      box-shadow: 0 0 29px rgba(0, 0, 0, 0.6);
      margin: 0 auto; }
      @media (min-width: 768px) {
        .careers-header__overlay .header-cta-box {
          max-width: 24.5rem;
          padding: 2rem 2.5rem; } }
      .careers-header__overlay .header-cta-box h3 {
        color: #114f8c;
        text-transform: uppercase;
        font-size: 1.85rem;
        font-weight: bold;
        font-style: oblique;
        font-family: "futura-pt", sans-serif;
        margin-bottom: 0.75rem; }
      .careers-header__overlay .header-cta-box p {
        line-height: 1.125;
        color: #3c3c3c; }
      .careers-header__overlay .header-cta-box .button {
        margin-top: 0.5rem;
        margin-bottom: 0; }
    .careers-header__overlay .header-cta-title {
      color: #FFF;
      font-family: "futura-pt", sans-serif;
      font-style: oblique;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 0 0 0.9em rgba(35, 35, 45, 0.3), 0 0 0.9em rgba(35, 35, 45, 0.3), 0 0 0.9em rgba(35, 35, 45, 0.3);
      margin: 0 auto; }
      .careers-header__overlay .header-cta-title .mobile-header {
        display: inline-block;
        font-size: 2.5rem;
        margin-bottom: 0.3rem; }
        @media (min-width: 480px) {
          .careers-header__overlay .header-cta-title .mobile-header {
            font-size: 3.25rem; } }
        @media (min-width: 960px) {
          .careers-header__overlay .header-cta-title .mobile-header {
            display: none; } }
      .careers-header__overlay .header-cta-title .cta-text-top {
        display: none; }
        @media (min-width: 960px) {
          .careers-header__overlay .header-cta-title .cta-text-top {
            display: inline-block;
            font-size: 3.75rem;
            color: #FFF; } }
      .careers-header__overlay .header-cta-title .cta-text-bottom {
        display: none; }
        @media (min-width: 960px) {
          .careers-header__overlay .header-cta-title .cta-text-bottom {
            display: inline-block;
            font-family: "futura-pt", sans-serif;
            color: #FFF;
            margin-bottom: 0.5rem;
            font-size: 6.8rem; } }
.careers-main {
  max-width: 45.5rem;
  margin: 0 auto 3rem; }
  .careers-main p {
    line-height: 1.125; }
  .careers-main .careers-intro-paragraph {
    margin-bottom: 3rem; }
  .careers-main .blue-outline {
    letter-spacing: 1px;
    margin-bottom: 1.5rem; }
    @media (min-width: 1023px) {
      .careers-main .blue-outline {
        margin-bottom: 0; } }
  .careers-main .jump-list {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-bottom: 5rem;
    justify-content: space-between; }
    @media (min-width: 768px) {
      .careers-main .jump-list {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap; } }
    .careers-main .jump-list .jump-link {
      color: #2b2b2b;
      padding: 0;
      margin-top: 0.9rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: block;
      border-bottom: none; }
      @media (min-width: 560px) {
        .careers-main .jump-list .jump-link {
          display: inline-block;
          border-bottom: 1px solid #000;
          padding: 1rem 0.25rem;
          margin: 0 1rem; }
          .careers-main .jump-list .jump-link:hover {
            border-color: #dd232e;
            color: #dd232e; } }
      .careers-main .jump-list .jump-link:last-of-type {
        margin-right: 0; }
      .careers-main .jump-list .jump-link:before {
        content: '\203A \203A  ';
        color: #dd232e;
        font-weight: bold;
        font-size: 1rem;
        vertical-align: 0.1em; }
  .careers-main .jump-title {
    color: #2b2b2b;
    font-weight: bold;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .careers-main .careers-sections {
    padding-top: 1rem;
    margin: 3rem auto;
    border-bottom: 1px solid #000; }
    .careers-main .careers-sections:last-of-type {
      border-bottom: none; }
    .careers-main .careers-sections .jump-title {
      letter-spacing: unset;
      font-size: 1rem; }
  .careers-main #growth-ops {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .careers-main #growth-ops .inner-left-text {
      max-width: 31rem; }
      .careers-main #growth-ops .inner-left-text p {
        margin-bottom: 0.5rem; }
    .careers-main #growth-ops img {
      display: none; }
    @media (min-width: 1023px) {
      .careers-main #growth-ops img {
        display: block;
        height: 16rem; } }
  .careers-main #benefits .benefits-list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .careers-main #benefits .benefits-list li {
      margin: 0;
      padding: 0;
      line-height: 1.125; }
  .careers-main #benefits .benefits-icons {
    margin: 2rem auto 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; }
    .careers-main #benefits .benefits-icons .icon-set {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      @media (min-width: 768px) {
        .careers-main #benefits .benefits-icons .icon-set {
          width: 50%; } }
    .careers-main #benefits .benefits-icons img {
      margin: 1rem 3px; }
      .careers-main #benefits .benefits-icons img:first-of-type {
        margin-left: 0; }
      .careers-main #benefits .benefits-icons img:last-of-type {
        margin-right: 0; }
      @media (min-width: 1023px) {
        .careers-main #benefits .benefits-icons img {
          margin: 0 3px; } }
  @media (min-width: 1023px) {
    .careers-main #benefits .blue-outline {
      margin-bottom: 2.5rem; } }
.page-template-traveler-info .article-wrapper {
  max-width: 70em; }

.page-template-traveler-info .helpful-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 48em) {
    .page-template-traveler-info .helpful-links {
      flex-direction: row; } }
  .page-template-traveler-info .helpful-links .helpful-link {
    display: block;
    font-size: 2em;
    font-family: "Futura", Arial, sans-serif;
    text-transform: uppercase;
    color: #FFF;
    border: none;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    text-align: center;
    align-items: center;
    flex: 1 0 auto; }
    .page-template-traveler-info .helpful-links .helpful-link + .helpful-link {
      margin-top: 1em; }
    @media (min-width: 48em) {
      .page-template-traveler-info .helpful-links .helpful-link {
        max-width: 32%; }
        .page-template-traveler-info .helpful-links .helpful-link + .helpful-link {
          margin-top: 0; } }
    .page-template-traveler-info .helpful-links .helpful-link > div {
      margin: auto;
      width: 100%;
      padding: 2em 1em; }

.page-template-traveler-info .article-body hr {
  margin: 2em 0; }

.page-template-traveler-info .article-body h2 {
  margin-bottom: 1rem; }

.page-template-traveler-info .road-tips {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .page-template-traveler-info .road-tips .tip {
    color: #FFF;
    padding: 3em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%; }
    @media (min-width: 25em) {
      .page-template-traveler-info .road-tips .tip {
        width: calc(50% - .5em); } }
    .page-template-traveler-info .road-tips .tip .wrapper {
      width: 100%; }
    .page-template-traveler-info .road-tips .tip .title {
      font-size: 2rem;
      font-style: italic;
      text-shadow: 0 0 5px rgba(35, 35, 45, 0.75);
      font-family: "Futura", Arial, sans-serif;
      text-transform: uppercase;
      line-height: 1;
      margin: 0; }
    .page-template-traveler-info .road-tips .tip .excerpt {
      margin: 1em 0 2em;
      max-width: 80%; }
      @media (min-width: 48em) {
        .page-template-traveler-info .road-tips .tip .excerpt {
          max-width: 50%; } }
    .page-template-traveler-info .road-tips .tip .button {
      background: #dd232e;
      margin: 0; }
  .page-template-traveler-info .road-tips .tip:first-child {
    width: 100%; }
  @media (min-width: 25em) {
    .page-template-traveler-info .road-tips .tip:nth-child(2n+3) {
      margin-left: 1em; } }
  .page-template-traveler-info .road-tips .tip:not(:first-child) {
    text-align: right;
    align-items: flex-end; }
    .page-template-traveler-info .road-tips .tip:not(:first-child) .excerpt {
      display: none; }
    .page-template-traveler-info .road-tips .tip:not(:first-child) .button {
      margin-top: 1em; }

.page-template-traveler-info .blog-call-to-action {
  clear: both;
  margin-top: 2em; }
  .page-template-traveler-info .blog-call-to-action .button {
    margin: 0; }
  .page-template-traveler-info .blog-call-to-action h2 {
    font-size: 2em; }

.schedules li + li {
  margin-top: 2em; }

.intranet-menu {
  margin-bottom: 4em; }
  .intranet-menu a {
    font-weight: bold; }

a.dashboard-link {
  margin: 0 1em; }

#menu-intranet {
  margin: 0;
  display: inline-block;
  padding: 0;
  list-style: none; }
  #menu-intranet li {
    display: inline-block;
    text-transform: uppercase; }
    #menu-intranet li + li {
      margin-left: 1em; }

.page-template-intranet .call-to-action-cards {
  display: none; }

.page-template-intranet #footer {
  margin-top: 4em; }

.user-location-title {
  margin-top: 2rem; }

.bulletin-board a {
  border-bottom: none; }

#bbpress-forums #subscription-toggle {
  margin-left: 2em; }

#bbpress-forums .bbp-the-content {
  border: 1px solid #EFEFEF;
  background: #EFEFEF; }

.call-to-action-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 4em;
  position: relative; }
  .home .call-to-action-cards {
    margin-top: -6em; }
  @media (min-width: 48em) {
    .call-to-action-cards {
      flex-direction: row; } }
  .call-to-action-cards .card {
    position: relative;
    width: 100%; }
    @media (min-width: 48em) {
      .call-to-action-cards .card {
        width: 30%; } }
    .call-to-action-cards .card a {
      display: block;
      border: none;
      text-decoration: none; }
    .call-to-action-cards .card img {
      display: block;
      margin: 0 auto;
      width: 100%; }
  .call-to-action-cards .card-title-wrapper {
    position: absolute;
    bottom: 2em;
    left: 2em;
    font-size: 4vw; }
    @media (min-width: 48em) {
      .call-to-action-cards .card-title-wrapper {
        bottom: 2.5em;
        font-size: 1.5vw; } }
    @media (min-width: 60em) {
      .call-to-action-cards .card-title-wrapper {
        font-size: 1rem; } }
  .call-to-action-cards .card-title {
    color: #dd232e;
    font-size: 1.5em;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    font-family: 'Futura', Arial, sans-serif;
    font-style: italic;
    line-height: 1; }
  .call-to-action-cards .home-call-to-action-cards-bg {
    background: #376599;
    height: 6em;
    width: 200vw;
    left: -50vw;
    padding: 0;
    position: absolute; }
  .call-to-action-cards .call-to-action-cards-bg {
    background: #0c3762;
    height: 8em;
    width: 200vw;
    left: -50vw;
    padding: 0;
    bottom: 0;
    position: absolute; }

.page-title-wrapper {
  padding: 9em 2em 4em;
  margin-top: -5em;
  margin-bottom: 2em; }

[type="text/template"] {
  display: none; }

.mfp-content [type="text/template"] {
  display: block; }

.mfp {
  background: #FFF;
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  position: relative;
  padding: 2em; }

.mfp-close {
  margin: 0; }

#magnific-rewards .title, #magnific-rewards .subtitle, #magnific-login .title, #magnific-login .subtitle {
  color: #114f8c;
  text-transform: uppercase;
  text-align: center; }

#magnific-rewards .title, #magnific-login .title {
  font-family: "Futura", Arial, sans-serif;
  font-size: 1.25em;
  margin: 0;
  line-height: 1; }
  @media (min-width: 48em) {
    #magnific-rewards .title, #magnific-login .title {
      font-size: 2.5em; } }
#magnific-rewards .subtitle, #magnific-login .subtitle {
  font-size: 1em; }
  @media (min-width: 48em) {
    #magnific-rewards .subtitle, #magnific-login .subtitle {
      font-size: 1.25em; } }
#magnific-rewards .reward-cards-wrapper, #magnific-login .reward-cards-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  #magnific-rewards .reward-cards-wrapper:after, #magnific-login .reward-cards-wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 48em) {
    #magnific-rewards .reward-cards-wrapper .card, #magnific-login .reward-cards-wrapper .card {
      width: 49.1525423729%;
      float: left;
      margin-right: 1.6949152542%; }
      #magnific-rewards .reward-cards-wrapper .card:nth-child(2n), #magnific-login .reward-cards-wrapper .card:nth-child(2n) {
        width: 49.1525423729%;
        float: right;
        margin-right: 0; } }
  #magnific-rewards .reward-cards-wrapper .card a.graphic-link, #magnific-login .reward-cards-wrapper .card a.graphic-link {
    display: block;
    font-size: 2em;
    font-family: "Futura", Arial, sans-serif;
    text-transform: uppercase;
    color: #114f8c;
    margin: 0;
    padding-left: .5em;
    width: 100%;
    border: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background: none !important;
    position: relative;
    display: flex;
    align-items: center; }
    #magnific-rewards .reward-cards-wrapper .card a.graphic-link > div, #magnific-login .reward-cards-wrapper .card a.graphic-link > div {
      font-size: 2vw; }
  #magnific-rewards .reward-cards-wrapper .card.view-all, #magnific-login .reward-cards-wrapper .card.view-all {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 220px;
    text-align: center; }
    #magnific-rewards .reward-cards-wrapper .card.view-all p, #magnific-login .reward-cards-wrapper .card.view-all p {
      color: #114f8c;
      text-transform: uppercase;
      font-size: 1.5em;
      margin-bottom: 1rem; }
    #magnific-rewards .reward-cards-wrapper .card.view-all .button, #magnific-login .reward-cards-wrapper .card.view-all .button {
      background: #dd232e; }

#magnific-login {
  max-width: 500px; }
  #magnific-login .title {
    font-size: 2rem;
    line-height: 1; }
  #magnific-login .button {
    display: block; }

.accordion .accordion-title {
  font-size: 1.5em;
  color: #114f8c;
  font-family: "Futura", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0;
  cursor: pointer;
  margin: .5em 0; }
  .accordion .accordion-title:before {
    content: '\f105';
    font-family: "FontAwesome", "proximanova", Helvetica, Arial, sans-serif;
    margin-right: .5em;
    display: inline-block;
    transition: all 200ms linear; }
  .accordion .accordion-title.open:before {
    transform: rotate(90deg); }

.page-template-intranet .article-wrapper {
  max-width: 70em; }

#tinymce.wp-editor {
  padding: 1em !important;
  max-width: 50em;
  margin: 0 auto; }

.tease {
  border: 1px solid #EFEFEF;
  padding: 3em 2em 1em; }
  .tease + .tease {
    margin-top: 4em; }
  .tease .emphasized-heading a {
    border: none;
    text-decoration: none; }
  .tease .featured-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 2em;
    margin-top: -1em; }
  .tease .categories {
    display: inline-block; }
  .tease .tease-info {
    margin-bottom: 1em; }

.blog-author {
  margin-bottom: 1em; }

.term-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0; }
  .term-list li {
    display: inline-block; }

.pagination {
  text-align: center;
  margin: 4em 0; }
  .pagination .pages {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .pagination .pages li {
      display: inline-block; }
      .pagination .pages li + li {
        margin-left: 1em; }
      .pagination .pages li a {
        display: inline;
        padding: 0 .25em; }
  .pagination .next {
    margin-left: 1em; }

.pagination:empty {
  display: none; }

.comments {
  margin-top: 4em; }

#commentform label {
  display: block; }

#commentform input, #commentform textarea {
  width: 100%;
  display: block; }

#commentform .comment-form-comment label, #commentform textarea {
  display: block; }

#commentform .required {
  color: #fe0000; }

#commentform .comment-form-url {
  display: none; }

.home .callout {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFF;
  padding: 3.5em 2.25em;
  margin: 2em 0; }
  .home .callout.right {
    text-align: right; }
    .home .callout.right .callout-description, .home .callout.right .callout-title {
      margin-left: auto; }
  .home .callout.left {
    text-align: left; }
    .home .callout.left .callout-description, .home .callout.left .callout-title {
      margin-right: auto; }
  .home .callout + .callout {
    margin-top: 4em; }
  .home .callout .callout-title {
    font-size: 1.5rem;
    font-style: italic;
    text-shadow: 0 0 5px rgba(35, 35, 45, 0.75);
    max-width: 50%;
    font-family: "Futura", Arial, sans-serif;
    text-transform: uppercase; }
    @media (min-width: 60em) {
      .home .callout .callout-title {
        font-size: 2rem; } }
  .home .callout .callout-description {
    margin: 1em 0 2em;
    max-width: 80%; }
    @media (min-width: 48em) {
      .home .callout .callout-description {
        max-width: 50%; } }
  .home .callout .callout-buttons {
    margin: 1em 0 0; }
    .home .callout .callout-buttons .button {
      background: #dd232e;
      margin: 0;
      font-size: .8em;
      margin: 2em 2em 0; }

.loading-animation {
  background-color: #FFF;
  background-image: url("static/images/logo-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1002;
  transition: all .9s linear; }

.loading-animation-playing {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none; }

.interactive-header .foreground-image {
  flex: 1 0 auto;
  width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
  align-self: flex-end; }

.interactive-header .hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  margin-top: -5rem;
  padding-top: 8rem;
  padding-bottom: 8em; }
  @media (min-width: 48em) {
    .interactive-header .hero {
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  @media screen and (min-height: 800px) {
    .interactive-header .hero {
      min-height: 75vh; } }
  .interactive-header .hero h1 {
    color: #FFF;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 0 0 0.5rem rgba(35, 35, 45, 0.75);
    line-height: 1;
    font-size: 8vw;
    margin: 1em 0; }
    @media (min-width: 48em) {
      .interactive-header .hero h1 {
        width: 60%;
        margin-left: auto;
        font-size: 2.5em;
        margin: 0; } }
    @media (min-width: 60em) {
      .interactive-header .hero h1 {
        font-size: 4em;
        white-space: nowrap; } }
    .interactive-header .hero h1 span {
      font-size: 150%; }

.interactive-header .image-tagline-link, .interactive-header .image-tagline, .interactive-header .tagline, .interactive-header .tagline-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center; }
  @media (min-width: 48em) {
    .interactive-header .image-tagline-link, .interactive-header .image-tagline, .interactive-header .tagline, .interactive-header .tagline-link {
      justify-content: flex-end;
      text-align: left; } }
.interactive-header .form {
  background: rgba(255, 255, 255, 0.75);
  border-radius: .5em;
  padding: 2em;
  box-shadow: 5px 5px 2em rgba(35, 35, 45, 0.5);
  margin-right: 8em;
  text-transform: uppercase;
  max-width: 30rem;
  width: 100%; }
  .interactive-header .form .form-title {
    font-family: "Futura", Arial, sans-serif;
    font-size: 2.5em;
    color: #114f8c;
    margin: 0 0 .5rem; }
  .interactive-header .form .form-tagline {
    margin-bottom: .5em; }
  .interactive-header .form .gform_wrapper .gform_footer input.button, .interactive-header .form .gform_wrapper .gform_footer input[type=submit], .interactive-header .form .gform_wrapper .gform_page_footer input.button, .interactive-header .form .gform_wrapper .gform_page_footer input[type=submit] {
    width: 100%;
    margin: 0; }

.home .reviews {
  padding: 0; }
  .home .reviews-heading {
    margin: 4rem 0 -1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #114f8c;
    font-family: "proximanova", Arial, sans-serif;
    font-style: italic; }
  .home .reviews .review {
    position: relative;
    padding: 2rem 2rem;
    min-height: 200px;
    display: flex !important;
    flex-direction: column; }
  .home .reviews .review-text {
    position: relative;
    font-size: 1.25rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    flex: 1;
    color: #3F3F3F;
    font-weight: bold; }
    .home .reviews .review-text .quote {
      display: inline-block; }
  .home .reviews .review-source {
    text-align: center;
    margin-top: 2rem;
    color: #A7A7A7;
    font-style: italic; }
  .home .reviews .review-rating {
    display: inline-block;
    top: 0;
    right: 0;
    color: #114f8c;
    padding: 0 1rem;
    vertical-align: middle; }
    .home .reviews .review-rating-star {
      background: url("static/images/star.svg");
      background-size: contain;
      background-position: center center;
      width: 20px;
      height: 20px;
      display: inline-block; }
  .home .reviews .slick-prev {
    left: .5rem;
    z-index: 100; }
  .home .reviews .slick-next {
    right: .5rem;
    z-index: 100; }
