{% extends "base.twig" %}

{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({{ TimberImage(options.locations_header_image).src }})">
		<h1 class="page-title">Locations &amp; Fuel Prices</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="article-wrapper">
			<section class="article-content">
				<div class="article-body">

					<h2 class="archive-header">Fuel Prices</h2>
					<div class="table-scroll">
						<table class="locations-table scroll">
							<thead>
								<tr>
									<td>24/7 Travel Store Location <span class="sub">&nbsp;</span></td>
									<td>Unleaded <span class="sub">10% Ethanol</span></td>
									<td class="diesel-table-head">Diesel<span class="sub">&nbsp;</span></td>
									<td>&nbsp;</td>
									<td>Bulk DEF <span class="sub">All Lanes</span></td>
									<td><!-- Location Link --> <span class="sub">&nbsp;</span></td>
								</tr>
							</thead>
							<tbody>
								{% for loc in locations if not loc.hidden_location %}
									<tr class="location" data-location-id="{{ loc.ID }}">
										<td><a href="{{ loc.link }}">{{ loc.title }}</a><br>{{ loc.get_field('highway_exit_number') }}</td>
										<td class="unleaded-price">{{ loc.get_field('unleaded_cash_price') }}</td>

										<td class="diesel-price">
											{% if not function('in_array', 'diesel', loc.get_field('fuel_availability') ) %}
												&mdash;&mdash;
											{% else %}
												<span class="append-here">{{ loc.get_field('diesel_cash_price') }}9</span>
												{% if loc.get_field('biodiesel_percentage') %}
													<span class="mobile-biodiesel">
															&mdash; B{{ loc.get_field('biodiesel_percentage') }}&#42;
													</span>
												{% endif %}
											{% endif %}
										</td>

										<td class="biodiesel-ratio">
											{% if loc.get_field('biodiesel_percentage') %}
											&mdash; B{{ loc.get_field('biodiesel_percentage') }}&#42;
											{% endif %}
										</td>

										<td class="bulk-def-price">{% if not function('in_array', 'bulk_def', loc.get_field('fuel_availability') ) %}&mdash;&mdash;
											{% else %}
												{{ loc.get_field('bulk_def_cash_price') }}
											{% endif %}</td>
										<td class="view-location-link"><a href="{{ loc.link }}">View Location Info</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<p>Prices listed here are not guaranteed. Fuel prices listed at store location are accurate and definitive.<br/>
						* A bio blend ratio listed by the diesel price indicates biodiesel content between 5 and 20 percent. The listed blend ratio is our target.
					</p>
					<hr>

					<h2 class="archive-header">Store Locations</h2>
					{{ function('do_shortcode', "[google_maps id='57']") }}

				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}