{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		
		<div id="vue-wrapper">
		
			{% block header %}
				{% include 'header.twig' %}
			{% endblock %}

			{% block below_header %}
			{% endblock %}

			<section id="content" role="main" class="content-wrapper container give-padding">
				<div class="wrapper {{sidebar_class}}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
			</section>

			{% block footer %}
				{% include 'footer.twig' %}
			{% endblock %}
			
			<div id="results-popup" class="magnific mfp-hide"></div>
		
		</div> <!-- #vue-wrapper -->

		{{ function('wp_footer') }}

		<!-- Hotjar Tracking Code for https://24-7stores.com/ -->
		<script>
		   (function(h,o,t,j,a,r){
			   h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			   h._hjSettings={hjid:899054,hjsv:6};
			   a=o.getElementsByTagName('head')[0];
			   r=o.createElement('script');r.async=1;
			   r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			   a.appendChild(r);
		   })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>

	</body>
</html>
