{% extends "base.twig" %}

{% block below_header %}
	{% if is_home %}
		<div class="page-title-wrapper" style="background-image: url({{ TimberImage(options.blog_header_image).src }})">
			<h1 class="page-title">News</h1>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	{% include "pagination.twig" %}
{% endblock %}