<div class="rewards-calculator">
	
	<div class="title">See how much you could save</div>

	<div class="gas">
		<h3 class="futura">Weekly Gasoline Volume</h3>
		<input id="gas" type="number" step="1" pattern="\d*" placeholder="Number of Gallons Used" />
	</div>
	<div class="diesel">
		<h3 class="futura">Weekly Diesel Volume</h3>
		<input id="diesel" type="number" step="1" pattern="\d*" placeholder="Number of Gallons Used" />
	</div>
	
	<div class="results">
		<div class="loader">
			<img src="{{ theme.link }}/static/images/logo-loader.gif" />
		</div>
		<div class="savings futura">Your Estimated Annual Savings <br>$<span></span></div>
	</div>

	<div class="disclaimer">These rates are estimates only and may not reflect all savings exactly.</div>

	<button id="calculate-savings">See Estimated Savings</button>
</div>