<div class="call-to-action-cards container">
	<div class="call-to-action-cards-bg"></div>
	<div class="card">
		<a href="#magnific-rewards" class="magnific-trigger">
			<img src="{{ theme.link }}/static/images/save-card.png" />
			<div class="card-title-wrapper">
				<span class="card-title">Ways to Save</span>
				<span class="card-subtitle">Earn Rewards with Each Purchase</span>
			</div>
		</a>
	</div>
	<div class="card">
		<a href="/locations/">
			<img src="{{ theme.link }}/static/images/store-card.png" />
			<div class="card-title-wrapper">
				<span class="card-title">Store Locator</span>
				<span class="card-subtitle">Find Your Nearest 24/7 Travel Store</span>
			</div>
		</a>
	</div>
	<div class="card">
		<a href="/careers/">
			<img src="{{ theme.link }}/static/images/team-card.png" />
			<div class="card-title-wrapper">
				<span class="card-title">Join Our Team</span>
				<span class="card-subtitle">Find Your Career with Us</span>
			</div>
		</a>
	</div>
</div>

{% include "magnific-rewards.twig" %}