{% extends "base.twig" %}

{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({% if TimberImage(post).src is empty %}{{TimberImage(options.generic_header_image).src}}{% else %}{{TimberImage(post).src}}{% endif %})">
		<h1 class="page-title">{{ post.title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					<div class="why-work-here">
						<h2 class="centered-text">{{ post.get_field('intro_title')}}</h2>
						<div class="why-work-here-description">
							{{ post.get_field('intro_paragraph') }}
						</div>
					</div>
					<div class="intro-images">
						{% for image in post.get_field('intro_images') %}
							<img class="" src="{{ TimberImage(image.image).src }}" />
						{% endfor %}
					</div>
					<hr class="no-top-margin "/>
					<h2 class="centered-text">Current Openings</h2>
					<p class="centered-text current-openings-byline">Current Career Opportunities at 24/7 Travel Stores</p>
					<div class="current-openings" id="current-openings">
						<div class="table-scroll">
							<table class="scroll">
								<tr>
									<th>Job Position</th>
									<th>Location</th>
									<th>Application</th>
									<th>Learn More</th>
								</tr>
								{% for opening in openings %}
									<tr>
										<td><a href="{{ opening.link }}">{{ opening.title }}</a></td>
										<td>{{ opening.location.city }}, {{ opening.location.state }} {{ opening.location.zip_code }}</td>
										<td><a href="/application/?title={{ opening.title|url_encode }}&location={{ opening.location|url_encode }}" class="apply-now">Apply Now!</a></td>
										<td><a href="{{ opening.link }}">Learn More</a></td>
									</tr>
								{% endfor %}
							</table>
						</div>		
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}