{% extends "base.twig" %}

{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({% if TimberImage(post).src is empty %}{{TimberImage(options.generic_header_image).src}}{% else %}{{TimberImage(post).src}}{% endif %})">
		<h1 class="page-title">{{ post.title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					<div class="join">
						<div class="join-image">
							<img src="{{ TimberImage(post.get_field('intro_image')).src }}" />
						</div>
						<div class="join-info">
							<h2>Join Our Team</h2>
							<div class="join-subtitle">Start Your Career Now with 24/7 Travel Stores</div>
							<div class="benefits">
								<div class="benefits-icons">
									{% for icon in post.get_field('benefits') %}
										<img class="benefit-icon" src="{{ TimberImage(icon.benefit).src }}" />
									{% endfor %}
								</div>
							</div>
							<div class="wrapper">{{ post.get_field('intro_paragraph') | shortcodes }}</div>
						</div>
					</div>

					{# <div class="benefits">
						<div class="benefits-info">
							<h2>Benefits</h2>
							<div class="benefits-subtitle">{{ post.get_field('benefits_subtitle') }}</div>
							
						</div>
						<div class="benefits-image">
							<img src="{{ TimberImage(post.get_field('benefits_image')).src }}" />
						</div>
					</div> #}
					<hr class="no-top-margin "/>
					{# <div class="careers-call-to-action centered-text">
						<h2>Your Career Is Waiting</h2>
						<p>Find Your Career at 24/7 Travel Stores &amp; Apply Today!</p>
						<a class="button" href="/careers/openings/">View Current Job Openings</a>
					</div>
 #}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}