{% extends "base.twig" %}

{% block below_header %}
<div class="careers-header">
	<div class="first-div infinite-scroller" style="background-image: url('{% if TimberImage(post).src is empty %}{{TimberImage(options.generic_header_image).src}}{% else %}{{TimberImage(post).src}}{% endif %}')">
	</div>

	<div class="careers-header__overlay">
		<div class="header-cta-box">
			<h3>{{ post.get_field('cta_box_header') }}</h3>
			<p>{{ post.get_field('cta_box_paragraph') }}</p>
			<a class="button red" href="https://apply.jobappnetwork.com/247travel">View Current Openings</a>
		</div>

		<div class="header-cta-title">
		
			<span class="cta-text-top">{{ post.get_field('cta_top_header') }}<br><h1 class="cta-text-bottom">{{ post.get_field('cta_bottom_header') }}</h1></span>

			<h1 class="mobile-header">{{ post.cta_top_header }} {{ post.cta_bottom_header }}</h1>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="content-wrapper">
	<div class="careers-main">
		<p class="careers-intro-paragraph">{{ post.get_field('first_paragraph') }}</p>

		<div class="jump-list">
			<div><span class="jump-title" title="Find it Quick">Find It Quick</span></div>
			<div>
				<a class="jump-link" href="#growth-ops">{{ post.get_field('first_section_header') }}</a>
				<a class="jump-link" href="#benefits">{{ post.get_field('second_section_header') }}</a>
				<a class="jump-link" href="#culture">Culture</a>
			</div>
		</div>

		<div id="growth-ops" class="careers-sections">
			<div class="inner-left-text">
				<span class="jump-title" title="Growth Opportunities">{{ post.get_field('first_section_header') }}</span>
				<p>{{ post.get_field('first_section_paragraph') }}</p>
				<a class="button blue-outline" href="https://apply.jobappnetwork.com/247travel">View Current Openings</a>
			</div>
			<img src="{{ TimberImage( post.get_field('first_section_image') ).src }}" alt="{{ TimberImage( post.get_field('first-section-image') ).alt }}">
		</div>

		<div id="benefits" class="careers-sections">
			<span class="jump-title" title="Benefits">{{ post.get_field('second_section_header') }}</span>
			<p>{{ post.get_field('second_section_paragraph') }}</p>

			<ul class="benefits-list">
				{% for benefit in post.get_field('benefits_list') %}
					<li>{{ benefit.benefits }}</li>
				{% endfor %}
			</ul>

			{# create 2 sets of 3 icons each - removes the need to "stack" on mobile and instead stack 2 groups of 3 #}
			<div class="benefits-icons">
				<div class="icon-set">
					{% set count = 1 %}
					{% for bicons in post.get_field('benefits_icons') %}
						{% if count < 3 %}
							<img src="{{ TimberImage( bicons.icon_image ).src }}" alt="{{ TimberImage( bicons.icon_image ).alt }}">
						{% elseif count == 3 %}
							<img src="{{ TimberImage( bicons.icon_image ).src }}" alt="{{ TimberImage( bicons.icon_image ).alt }}">
							</div> {# after 3 - close the first set and make a new set of 3 below it #}
							<div class="icon-set">
						{% elseif count > 3 %}
							<img src="{{ TimberImage( bicons.icon_image ).src }}" alt="{{ TimberImage( bicons.icon_image ).alt }}">
						{% elseif count == 6 %}
							</div>
						{% endif %}
						{% set count = count + 1 %}
					{% endfor %}
				</div>
			</div>

			<a class="button blue-outline" href="https://apply.jobappnetwork.com/247travel">View Current Openings</a>
		</div>

		<div id="culture" class="careers-sections">
			<span class="jump-title" title="Culture and People">{{ post.get_field('third_section_header') }}</span>
			<p>{{ post.get_field('third_section_paragraph') }}</p>
			<img src="{{ TimberImage( post.third_section_image ).src }}" alt="{{ TimberImage( post.third_section_image ).alt }}">
			<a class="button blue-outline" href="https://apply.jobappnetwork.com/247travel">View Current Openings</a>
		</div>

	</div>
</div>
{% endblock %}