{% extends "base.twig" %}

{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({% if TimberImage(post).src is empty %}{{TimberImage(options.generic_header_image).src}}{% else %}{{TimberImage(post).src}}{% endif %})">
		<h1 class="page-title">{{ post.title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					<div class="why-work-here">
						<h2 class="centered-text">Why Work at 24/7 Travel Stores?</h2>
						<div class="why-work-here-description">
							{{ post.get_field('why_work_here') }}
						</div>
					</div>
					<div class="career-departments">
						<a href="/careers/retail"><img src="{{ theme.link }}/static/images/retail.png" /></a>
						<a href="/careers/maintenance"><img src="{{ theme.link }}/static/images/maintenance.png" /></a>
						<a href="/careers/corporate"><img src="{{ theme.link }}/static/images/corporate.png" /></a>
						<a href="/careers/transport"><img src="{{ theme.link }}/static/images/transport.png" /></a>
					</div>
					<hr class="no-top-margin "/>
					<h2 class="centered-text">Current Openings</h2>
					<p class="centered-text current-openings-byline">Current Career Opportunities at 24/7 Travel Stores</p>
					<div class="current-openings">
						{% for opening in openings %}
							<div class="opening">
								<h3 class="opening-title">{{ opening.title }}</h3>
								<div class="opening-location">{{ opening.location }}</div>
								<a href="/application/?title={{ opening.title|url_encode }}&location={{ opening.location|url_encode }}" class="button">Apply Now</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}