{% if not function('is_front_page') %}
	{% include "call-to-action-cards.twig" %}
{% endif %}

{% include "magnific-login.twig" %}

<footer id="footer">
	
	<div class="quick-links">
		<div class="container link-wrapper">
			<a href='/sds/'>Safety Data Sheets</a>
			<span class="sep"></span>
			<a href='/employee-login/'>Employee Login</a>
			<span class="sep"></span>
			<a href='/locations/'>Location Guide</a>
			<span class="sep"></span>
			<a href='/community-involvement/'>Community Involvement</a>
			<span class="sep"></span>
			<a href='/contact/'>Contact Us</a>
		</div>
	</div>
	<div class="social-links">
		<div class="container link-wrapper">
			<a href='https://www.facebook.com/247stores/' target="_blank"><img src="{{ theme.link }}/static/images/facebook.png" alt="Facebook" /></a>
			<a href='http://www.kandrive.org/kandrive/roads/#devices/-98.41/38.3957/7'><img src="{{ theme.link }}/static/images/weather-cam.png" alt="Weather Cam" /></a>
			<a href='/traveler-information/'><img src="{{ theme.link }}/static/images/traveler-info.png" alt="Traveler Info" /></a>
		</div>
	</div>

	<div class="copyright container centered-text">Copyright &copy; {{ year }}</div>
	<div class="agency container centered-text">Website designed by <a href="https://weare502.com" rel="nofollow">502</a></div>
</footer>