{% extends "base.twig" %}

{% block header %}
	{% include 'header.twig' %}
{% endblock %}

{% block content %}
	{{ post.content }}
	
	<div class="interactive-header">

	{# {% for slide in post.get_field('interactive_header') %}
		<div class="hero full-width" style="background-image: url({{ TimberImage(slide.background_image).src }});">
			<div class="form">
				<h3 class="form-title">{{ slide.form_heading }}</h3>
				<p class="form-tagline">{{ slide.form_tagline }}</p>
				{% set form = '[gravityform id="' ~ slide.form.id ~ '" title="false" description="false" ajax="false"]' %}
				{{ form|shortcodes }}
			</div>
			<h1 class="futura">There around <br><span>the Clock</span></h1>
		</div> 
	{% endfor %} #}
	
	{% for promo in promos %}
		{% set layout = promo.layout|sanitize %}
		{% if 'image' in layout %}
			{% set backgroundImage = 'url(' ~ TimberImage(promo.image).src ~ ') bottom left/contain no-repeat, url(' ~ TimberImage(promo.background_image).src ~ ') center/cover no-repeat;' %}
		{% else %}
			{% set backgroundImage = 'url(' ~ TimberImage(promo.background_image).src ~ ') center/cover no-repeat;' %}
		{% endif %}
			<style>
				@media screen and (max-width: 600px){
					.hero.{{layout}} {
						{% if promo.get_field('mobile_background_image') %}
							background: url({{ TimberImage(promo.mobile_background_image).src }}) center/cover no-repeat !important;
						{% else %}
							background: url({{ TimberImage(promo.background_image).src }}) center/cover no-repeat !important;
						{% endif %}
					}
				}
			</style>
		
		<div class="hero full-width {{ promo.layout|sanitize }}" style="background: {{ backgroundImage }}">
			{% if 'form' in layout %}
				<div class="form">
					<h3 class="form-title">{{ promo.form_heading }}</h3>
					<p class="form-tagline">{{ promo.form_tagline }}</p>
					{% set form = '[gravityform id="' ~ promo.get_field('form').id ~ '" title="false" description="false" ajax="false"]' %}
					{{ form|shortcodes }}
				</div>
			{% endif %}
			{% if 'tagline' in layout %}
				<div class="tagline-and-button">
					<h1 class="futura">{{ promo.tagline_small }}<br><span>{{ promo.tagline_large }}</span></h1>
					{% if 'link' in layout %}
						<div class="link-wrapper">
							<a href="{{ promo.link_url }}" class="button red">{{ promo.link_text }}</a>
						</div>
					{% endif %}
				</div>
			{% endif %}

		</div>
	{% endfor %}


	</div>
	
	<div class="call-to-action-cards">
		<div class="home-call-to-action-cards-bg"></div>
		<div class="card">
			<a href="#magnific-rewards" class="magnific-trigger">
				<img src="{{ theme.link }}/static/images/save-card.png" />
				<div class="card-title-wrapper">
					<span class="card-title">Ways to Save</span>
					<span class="card-subtitle">Earn Rewards with Each Purchase</span>
				</div>
			</a>
		</div>
		<div class="card">
			<a href="/locations/">
				<img src="{{ theme.link }}/static/images/store-card.png" />
				<div class="card-title-wrapper">
					<span class="card-title">Store Locator</span>
					<span class="card-subtitle">Find Your Nearest 24/7 Travel Store</span>
				</div>
			</a>
		</div>
		<div class="card">
			<a href="/careers/">
				<img src="{{ theme.link }}/static/images/team-card.png" />
				<div class="card-title-wrapper">
					<span class="card-title">Join Our Team</span>
					<span class="card-subtitle">Find Your Career with Us</span>
				</div>
			</a>
		</div>
	</div>

	{% include "magnific-rewards.twig" %}
	
	{% set reviews = post.get_field('reviews') %}

	{% if reviews %}
		<h3 class="reviews-heading">See what our customers are saying</h3>
		<div class="reviews callout">
		{% for review in reviews %}
			{% set rating = function('intval', review.rating) %}
			<div class="review">
				<div class="review-text"><span class="quote"></span>{{ review.text }}</div>
				<div class="review-source">
					<span>{{ review.name }} - {{ review.source }} Review</span>
					<div class="review-rating" data-rating="{{ review.rating }}">
						{% for i in 1..rating %}
							<span class="review-rating-star"></span>
						{% endfor %}
					</div>
				</div>
				
			</div>
		{% endfor %}
		</div>
	{% endif %}
	{% for callout in post.get_field('callouts') %}
		<div class="callout {{ callout.alignment }}" style="background-image: url({{ TimberImage(callout.image).src('large') }});">
			<h4 class="callout-title">{{callout.title}}</h4>
			<p class="callout-description">{{callout.description }}</p>
			<div class="callout-buttons">
				{% if callout.button_1_text %}
					<a href="{{ callout.button_1_link }}" class="button">{{ callout.button_1_text }}</a>
				{% endif %}
				{% if callout.button_2_text %}
					<a href="{{ callout.button_2_link }}" class="button">{{ callout.button_2_text }}</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}