<header id="header" class="header" style="position: relative; z-index: 99;"><!-- #header open -->
	
	<div class="mobile-header">
		<a href="/locations" class="location-link"><span class="fa fa-map-marker"></span></a>
		<a href="/" class="mobile-logo"><span class="screen-reader-text">Home</span></a>
		<button id="menu-toggle" class="fa fa-bars"><span class="screen-reader-text">Toggle Menu</span></button>
	</div>

	<div class="nav-wrapper">
		<div class="logo" role="banner">
			<a class="logo-link" href="{{site.url}}" rel="home">
				<img src="{{ theme.link }}/static/images/logo.png" alt='24/7 Travel Store Logo' />
				<span class="screen-reader-text">{{ site.title }}</span>
			</a>
		</div>
		<nav id="nav-main" role="navigation">
			{# Menu renderer goes here #}
			{{ function('twentyfourseven_render_primary_menu') }}
		</nav><!-- #nav -->
		<nav id="nav-secondary" role="navigation">
			{# Menu renderer goes here #}
			{{ function('twentyfourseven_render_secondary_menu') }}

			{# <a class="button login" href="http://triplettinc.com/LoyaltyCards/login.php">Account Sign In</a> #}
			{# <a href="#magnific-login" class="magnific-trigger button login">Customer Sign-In</a> #}
			<a href="https://fuelnetwork.triplettinc.com/" class="button login">Fuel Information Network</a>
		</nav><!-- #nav -->
	</div>
</header><!-- #header close -->