{% extends "base.twig" %}
{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({% if TimberImage(post).src is empty %}{{ TimberImage(options.generic_header_image).src }}{% else %}{{ TimberImage(post).src }}{% endif %})">
		<h1 class="page-title">{{ post.title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<div class="intranet-menu">
			{{ function('twentyfourseven_render_intranet_menu') }}
			{% if can_view_dashboard %}
				<a href="/wp-admin" class="button dashboard-link">View Dashboard</a>
			{% endif %}
			<a href="{{ function('wp_logout_url', '/') }}">Logout</a>
		</div>
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					{{post.content}}
				</div>
				{% if post.slug == 'employee-schedules' %}
					<div class="schedules">
						<h2>Schedules</h2>
						<ul>
						{% for location in locations %}
							<li>
								<strong>{{ location.title }}: </strong>
								<a download target="_blank" href="{{ location.get_field('schedule') }}">Download Schedule 
									{% if location.get_field('schedule_dates') %} &mdash; {{ location.get_field('schedule_dates') }}{% endif %}</a>
								{% if location.get_field('new_schedule') %}
									: <a download href="_blank" href="{{ location.get_field('new_schedule') }}">Download Schedule &mdash; {{ location.get_field('new_schedule_dates') }}</a>
								{% endif %}
								{% if can_edit_schedules %}
									&mdash; <a href="{{ location.edit_link }}">Edit Schedules</a>
								{% endif %}
							</li>
						{% endfor %}
						</ul>
					</div>
				{% endif %}

				{% if post.slug == 'employee-message-board' %}
					<table class="bulletin-board">
						<thead>
							<tr>
								<th> Latest Bulletins </th>
								<th> Posted Date </th>
							</tr>
						</thead>

						<tbody>
							{% for message in messages %}
								<tr>
									<td> <a href="{{ message.link }}">{{ message.title }}</a> </td>
									<td> <time>{{ message.date }}</time> </td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}

				{% if post.slug == 'employee-manage-positions' %}
				<div id="open-close-jobs">
					<h2>Manage Open Positions</h2>
					<form action="" method="POST">
						{% for location in user_locations %}
							<h4 class="user-location-title">{{ location.title }}</h4>
							{% for position in positions %}
								<div><label><input type="checkbox" name="positions[{{ location.id }}_{{ position.id }}]" {{ function('checked', location.open_positions[position.id] , true) }} /> {{ position.title }} </label></div>
							{% endfor %}
						{% endfor %}
						<p><input type="submit" value="Update Open Positions" name="update-positions"></p>
					</form>
				</div>
				{% endif %}

				{% if can_edit_post %}
					<a class="button small" href="{{ post.edit_link }}">Edit this Page</a>
				{% endif %}
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}