{% extends "base.twig" %}

{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({% if TimberImage(post).src is empty %}{{TimberImage(options.generic_header_image).src}}{% else %}{{TimberImage(post).src}}{% endif %})">
		<h1 class="page-title">{{ post.title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="fuel-prices" data-tab="cash" data-unleaded-cash-price="{{ post.get_field('unleaded_cash_price') }}" data-diesel-cash-price="{{ post.get_field('diesel_cash_price') }}" data-unleaded-88-cash-price="{{ post.get_field('unleaded_88_cash_price') }}">
		<div class="title">Current Fuel Prices</div>
		<div class="prices">
			<div class="price-wrapper {{ post.get_field('hide_unleaded_cash_price') ? 'hidden' : '' }}">
				<div class="price-name">Unleaded (87 Octane)<div class="sub">10% Ethanol</div></div>
				<div class="price" id="unleaded-price">${{ post.get_field('unleaded_cash_price') }}9</div>
			</div>
			{% if function('in_array', 'unleaded_88', post.get_field('fuel_availability') ) %}
				<div class="price-wrapper">
					<div class="price-name">Unleaded 88 (88 Octane)<div class="sub">15% Ethanol</div></div>
					<div class="price" id="unleaded-88-price">${{ post.get_field('unleaded_88_cash_price') }}</div>
				</div>
			{% endif %}
			{% if function('in_array', 'mid_grade', post.get_field('fuel_availability') ) %}
				<div class="price-wrapper">
					<div class="price-name">Mid-Grade (89 Octane)<div class="sub">10% Ethanol</div></div>
					<div class="price" id="mid-grade-price">$loading...</div>
				</div>
			{% endif %}
			{% if function('in_array', 'regular_unleaded', post.get_field('fuel_availability') ) %}
				<div class="price-wrapper">
					<div class="price-name">Regular Unleaded (87 Octane)<div class="sub">Pure Gasoline</div></div>
					<div class="price" id="ethanol-free-price">$loading...</div>
				</div>
			{% endif %}
			{% if function('in_array', 'premium', post.get_field('fuel_availability') ) %}
				<div class="price-wrapper">
					<div class="price-name">Premium (91 Octane) <div class="sub">10% Ethanol</div></div>
					<div class="price" id="premium-price">$loading...</div>
				</div>
			{% endif %}
			{% if function('in_array', 'diesel', post.get_field('fuel_availability') ) or
				  function('in_array', 'biodiesel', post.get_field('fuel_availability') ) or
				  function('in_array', 'diesel', post.get_field('fuel_availability') ) and function('in_array', 'biodiesel', post.get_field('fuel_availability') )
				%}
				<div class="price-wrapper">
					<div class="price-name">Diesel</div>
					{% if function('in_array', 'biodiesel', post.get_field('fuel_availability') ) %}
						<span class="price-name">B{{ post.get_field('biodiesel_percentage') }}&#42;</span>
					{% endif %}
					<div class="price" id="diesel-price">$loading...</div>
				</div>
			{% endif %}
			{% if function('in_array', 'bulk_def', post.get_field('fuel_availability') ) %}
				<div class="price-wrapper">
					<div class="price-name">Bulk DEF <div class="sub">All Lanes</div></div>
					<div class="price" id="bulk-def-price">${{ post.get_field('bulk_def_cash_price') }}9</div>
				</div>
			{% endif %}
		</div>
		<div class="price-tabs">
			<div class="tab credit" data-tab="credit">Credit Price</div>
			<div class="tab debit" data-tab="debit">Debit Price</div>
			<div class="tab cash" data-tab="cash">Cash Price</div>
		</div>
		<div class="pricing-options">
			<a href="{{ function('get_permalink', 328 ) }}">Prices listed here are not guaranteed. Fuel prices listed at store location are accurate and definitive.</a><br/>
			<span>* A bio blend ratio listed by the diesel price indicates biodiesel content between 5 and 20 percent. The listed blend ratio is our target.</span>
		</div>
	</div>

	<div class="location-info">
		<div class="left-wrapper">
			<h2>Location</h2>
			<div class="address">
				{{ post.get_field('full_name') }}
				<address>{{ post.get_field('street_address') }}<br>
				{{ post.get_field('city') }}, {{ post.get_field('state') }} {{ post.get_field('zip_code') }}</address>
				<div class="block-link-wrapper">
					<a href="tel:{{ post.get_field('phone_number') }}" class="phone-link">{{ post.get_field('phone_number') }}</a>
					<a href="https://google.com/maps/?q={{  post.get_field('street_address')|url_encode }}+{{ post.get_field('city')|url_encode }}+{{ post.get_field('zip_code')|url_encode }}" target="_blank" class="directions-link">Get Directions</a>
				</div>
			</div>
		</div>
		<div class="weather-info" id="weather-info" data-zip-code="{{ post.get_field('zip_code') }}">
			<img src="" class="icon" id="weather-icon" />
			<div id="weather-description" class="description"></div>
			<div id="weather-temp" class="temperature"></div>
		</div>
	</div>

	{% if post.restaurant_name %}
		<div class="location-info">
			<div class="left-wrapper">
				<div class="address">
					{{ post.get_field('restaurant_name') }}
					<div class="block-link-wrapper">
						<a href="tel:{{ post.get_field('restaurant_phone_number') }}" class="phone-link" style="margin-top: 5px;">{{ post.get_field('restaurant_phone_number') }}</a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<hr class="left-column-hr">

	<div class="promo">
		<img src="{{ TimberImage(post.get_field('promo')).src }}" />
	</div>

	<div class="service-info">
		<h2>Services</h2>
		<div class="service-icons">
			{% for service in services %}
				<img class='service-icon' src='{{ TimberImage(function('get_term_meta', service.ID, 'image', true )).src }}' />
			{% endfor %}
		</div>
		<h3 class="futura blue-text">Additional Services</h3>
		<div class="service-list">
			<ul>
				{% for service in post.get_field('service_list') %}
					<li>{{ service.name }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<hr class="left-column-hr">

	<div class="attraction-info">
		<div>
			<h2>Nearby</h2>
			<ul class="attraction-list">
				{% for single in post.get_field('attractions') %}
					<li><a href="{{ single.url }}">{{ single.attraction }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% set map_shortcode = '[google_maps id="'~ post.get_field('attraction_map') ~'"]' %}
		<div id="location-map" data-location="{{ post.get_field('city') }}, {{ post.get_field('state') }}">{{ map_shortcode | shortcodes }}</div>
	</div>

	<hr class="left-column-hr">
{% endblock %}