<div class="mfp" id="magnific-rewards" type="text/template">
	<h2 class="title">Find the Right Savings for You!</h2>
	<div class="subtitle">Which Best Describes You?</div>

	<div class="reward-cards-wrapper">
		<div class="card" >
			<a class="graphic-link" href="/reward-categories/fleet-manager/" title="Fleet Manager" style="background-image: url({{ theme.link }}/static/images/fleet-manager.jpg);">
				<img src="{{ theme.link }}/static/images/fleet-manager.jpg" />
				<div class="screen-reader-text">Fleet <br> Manager</div>
			</a>
		</div>
		<div class="card" >
			<a class="graphic-link" href="/reward-categories/commercial-business/" title="Commercial Business" style="background-image: url({{ theme.link }}/static/images/business.jpg);">
				<img src="{{ theme.link }}/static/images/business.jpg" />
				<div class="screen-reader-text">Commercial <br> Business</div>
			</a>
		</div>
		<div class="card">
			<a class="graphic-link" href="/reward-categories/truck-driver/" title="Truck Driver" style="background-image: url({{ theme.link }}/static/images/truck-driver.jpg);">
				<img src="{{ theme.link }}/static/images/truck-driver.jpg" />
				<div class="screen-reader-text">Truck Driver</div>
			</a>
		</div>
		<div class="card" >
			<a class="graphic-link" href="/reward-categories/local-resident/" title="Local Resident" style="background-image: url({{ theme.link }}/static/images/local-resident.jpg);">
				<img src="{{ theme.link }}/static/images/local-resident.jpg" />
				<div class="screen-reader-text">Local <br> Resident</div>
			</a>
		</div>
		<div class="card" >
			<a class="graphic-link" href="/reward-categories/traveler/" title="Traveler" style="background-image: url({{ theme.link }}/static/images/traveler.jpg);">
				<img src="{{ theme.link }}/static/images/traveler.jpg" />
				<div class="screen-reader-text">Traveler</div>
			</a>
		</div>
		<div class="card view-all">
			<div>
				<p>Not sure which to pick?</p>
				<a href="/reward-cards/" class="button">View all Promotions</a>
			</div>
		</div>

	</div>
</div>