<div class="mfp centered-text" id="magnific-login" type="text/template">
	<h2 class="title">Choose Your Login</h2>
	<a href="https://www.24-7stores.com/vip/login.php" class="button">VIP Rewards</a>
	<a href="http://fuelnetwork.triplettinc.com" class="button">Fuel Information Network</a>
	<a href="https://www.24-7stores.com/employee-login/" class="button">Employee Login</a>
</div>