{% extends "base.twig" %}

{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({% if TimberImage(post).src is empty %}{{TimberImage(options.generic_header_image).src}}{% else %}{{TimberImage(post).src}}{% endif %})">
		<h1 class="page-title">{{ post.title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					{{ post.content }}
					{# <hr />
					<div class="openings-call-to-action centered-text">
						<h2>Not Finding the Job for You?</h2>
						<p>We'd still love to hear from you!</p>
						<a href="/employment_application_form.php" class="button">Put Your Name on the Waiting List</a>
					</div> #}
					<div class="job-openings {# accordion #} {# careers-accordion #}">
						{% for career in careers %}
							<div class="job-opening">
								<h2 class="opening-title {# accordion-title #}">{{ career.title }}</h2>
								<a class="button" href='{{ career.link }}'>More Info</a>
								<a class="button" href='/application'>Apply Now</a>
								<div class="opening-details {# accordion-content #}">
									{# <div class="opening-description"><strong>Job Description:</strong> {{ career.description }}</div>
									<div class="opening-salary"><strong>Salary:</strong> {{ career.salary }}</div> #}
									{# {% if career.locations %}
										<div class="opening-locations">
											<strong>Locations:</strong>
										{% for location in career.locations %}
											{{ location.post_title }}{% if not loop.last %},{% endif %}
										{% endfor %}
										</div>
									{% endif %} #}
									{# <a class="button" href='{{ career.application_link }}'>Apply Now</a> #}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}