{% extends "base.twig" %}

{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({{ TimberImage(options.reward_cards_header_image).src }})">
		<h1 class="page-title">{{ title }} <span class="screen-reader-text">- {{ term.name }}</span></h1>
	</div>
{% endblock %}

{% block content %}
	<div class="reward-card-categories">
		<p>Which program is best for you?</p>
		<ul class="categories-list">
			{% for term in terms %}
				<li><a class="button" href="{{ term.link }}">{{ term.name }}</a></li>
			{% endfor %}
			<li><a class="button" href="{{ function('get_post_type_archive_link', 'reward_card') }}">View All</a></li>
		</ul>
	</div>

	<div class="reward-cards">
		{% for card in cards %}
			<div class="card">
				<a class="card-image-link" href="{{ card.link }}"><img class="card-image" src="{{ TimberImage(card.get_field('card_image')).src }}" /></a>
				<h4 class="card-tagline">{{ card.get_field('card_tagline') }}</h4>
				<p>{{ card.post_excerpt }}</p>
				<a class="button" href="{{ card.link }}">View More</a>
			</div>
		{% endfor %}
	</div>
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					{{ post.content }}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}