{% extends "base.twig" %}

{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({% if TimberImage(post).src is empty %}{{ TimberImage(options.generic_header_image).src }}{% else %}{{ TimberImage(post).src }}{% endif %})">
		<h1 class="page-title">{{ post.title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					{{post.content}}
				</div>
				<div class="centered-text">
					<a class="button" href="/application?position={{ post.slug }}">Apply Now</a>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
