{% extends "base.twig" %}
{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({% if TimberImage(post).src is empty %}{{ TimberImage(options.generic_header_image).src }}{% else %}{{ TimberImage(post).src }}{% endif %})">
		<h1 class="page-title">{{ post.title }}</h1>
	</div>
{% endblock %}


{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="blog-author">
					<span class="screen-reader-text">Posted On</span>
					<span class="fa fa-clock-o"></span>
					<time>{{ post.date }}</time>
				</div>
				
				<div class="article-body">
					{{ post.content }}
					<a class="button" href="/employee-message-board/">Back</a>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
