{% extends "base.twig" %}

{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({% if TimberImage(post).src is empty %}{{ TimberImage(options.generic_header_image).src }}{% else %}{{ TimberImage(post).src }}{% endif %})">
		<h1 class="page-title">Careers</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					<div class="job-description">
						<h2 class="centered-text">{{ post.title }}, {{ location.title }} {{ location.state }}</h2>
						<div class="job-description-paragraph">
							{{ post.get_field('job_short_description') }}
						</div>
					</div>
					<div class="benefits">
						<h2 class="centered-text">Benefits</h2>
						<div class="benefits-icons">
								<img class="benefit-icon" alt="Health Insurance" src="{{ theme.link }}/static/images/job-benefit-icons/health-insurance.png" />
								<img class="benefit-icon" alt="Dental" src="{{ theme.link }}/static/images/job-benefit-icons/dental.png" />
								<img class="benefit-icon" alt="Life Insurance" src="{{ theme.link }}/static/images/job-benefit-icons/life-insurance.png" />
								<img class="benefit-icon" alt="Vacation Time" src="{{ theme.link }}/static/images/job-benefit-icons/vacation.png" />
								<img class="benefit-icon" alt="401k Retirement Benefits" src="{{ theme.link }}/static/images/job-benefit-icons/401K.png" />
								<img class="benefit-icon" alt="In-Store Discounts" src="{{ theme.link }}/static/images/job-benefit-icons/discount.png" />
						</div>
					</div>
					{% if post.get_field('job_duties') %}
						<div class="job-duties">
							<h2 class="centered-text">{{ post.get_field('job_duties_title') }}</h2>
							<p class="centered-text job_duties_subtitle">{{ post.get_field('job_duties_subtitle') }}</p>
							<div class="job_duties_content">
								{{ post.get_field('job_duties') }}
							</div>
						</div>
					{% endif %}
				</div>
				<div class="centered-text">
					<a class="button" href="/application?position={{ post.slug }}">Apply Now</a>
				</div>
				<p><a href='/careers/'><span class="fa fa-angle-left">&nbsp;</span> Back to Careers</a></p>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}