{% extends "base.twig" %}

{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({{ TimberImage(post).src }})">
		<h1 class="page-title">{{ post.title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body store-specials">
					<a class="special special-large" href='{{ post.get_field('featured_ad_1_link') }}'>
						<img class="featured-1" src="{{ TimberImage(post.get_field('featured_ad_1')).src }}" />
					</a>
					
					<div class="small-specials clearfix">
						<a class="special special-small" href='{{ post.get_field('featured_ad_2_link') }}'>
							<img class="featured-2" src="{{ TimberImage(post.get_field('featured_ad_2')).src }}" />
						</a>
						
						<a class="special special-small" href='{{ post.get_field('featured_ad_3_link') }}'>
							<img class="featured-3" src="{{ TimberImage(post.get_field('featured_ad_3')).src }}" />
						</a>
					</div>

					<img class="flyer" src="{{ TimberImage(post.get_field('flyer_image')).src }}" />
					
					<p class="centered-text">
					<a class="button flyer-download-button" download href="{{ post.get_field('flyer_upload') }}">Download PDF Flyer</a>
					</p>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}