{% extends "base.twig" %}

{% block below_header %}
	<div class="page-title-wrapper" style="background-image: url({% if TimberImage(post).src is empty %}{{TimberImage(options.generic_header_image).src}}{% else %}{{TimberImage(post).src}}{% endif %})">
		<h1 class="page-title">{{ post.title }}</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} article-wrapper" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">

					<h2 class="centered-text">Helpful Links</h2>

					<div class="helpful-links">
						<a href="{{ post.get_field('kansas_tourism_link') }}" class="helpful-link" style="background-image: url({{ TimberImage(post.get_field('kansas_tourism_image')).src }});">
							<div>Kansas Tourism</div></a>
						<a href="{{ post.get_field('traffic_cam_link') }}" class="helpful-link" style="background-image: url({{ TimberImage(post.get_field('traffic_cam_image')).src }});">
							<div>Traffic Web Cam</div></a>
						<a href="{{ post.get_field('locations_link') }}" class="helpful-link" style="background-image: url({{ TimberImage(post.get_field('locations_image')).src }});">
							<div>Weather</div></a>
					</div>

					<hr />

					<h2 class="centered-text">Road &amp; Travel Tips</h2>

					<div class="road-tips clearfix">
						{% for tip in posts %}
							<article class="tip" style="background-image: url({{ TimberImage(tip.get_field('tips_tricks_background')).src }});">
								<div class="wrapper">
									<h1 class="title">{{ tip.title }}</h1>
									<div class="excerpt">{{ tip.post_excerpt }}</div>
									<a href="{{ tip.link }}" class="button">Read More</a>
								</div>
							</article>
						{% endfor %}
					</div>
					
					<div class="blog-call-to-action centered-text clearfix">
						<h2>Looking for Additional Information?</h2>
						<a href="/news" class="button">Latest News</a>
					</div>
					<hr />
					{{ post.content }}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}