button,
input[type="button"],
input[type="reset"],
input[type="submit"], .button, a.button {
	display: inline-block;
	border-radius: .25rem;
	color: $white;
	line-height: 1;
	/* Fallback */
	background: $dark-blue;
	padding: .75em 1.25em;
	text-transform: uppercase;
	box-shadow: none;
	-webkit-appearance: none;
	border: none;
	font-family: $font-heading;
	margin: 1.5em 0;
	// letter-spacing: 2px;
	// box-shadow: 0 4px 8px rgba( $black, .36 );
	transition: all 200ms linear;
	text-decoration: none;
	// text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover {
		// box-shadow: 0 4px 8px rgba( $black, .72 );
		cursor: pointer;
		border: none;
		color: $white;
		// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		// box-shadow: 0 4px 8px rgba( $black, .72 );
		border: none;
		// background: linear-gradient( 145deg, darken( $light-red, 5% ), darken($darker-red, 5% ) );
		// box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}

	&.large {
		font-size: 1.25em;
	}

	&.small {
		font-size: .75em;
	}

	&.red {
		background: $red;
	}

	&.blue-outline {
		background: $white;
		color: $light-blue;
		border: 2px solid $dark-blue;

		@include bp(sm) {
			&:hover {
				color: $white;
				background: $dark-blue;
			}
		}
	}
}