.rewards-calculator {

	border: 2px solid $blue;
	border-radius: .5em;
	margin: -4em 0 4em;

	.title {
		background: $blue;
		color: $white;
		font-size: 2em;
		font-family: $font-futura;
		text-transform: uppercase;
		padding: .75em 2em;
		text-align: center;
		line-height: 1;
	}

	.gas, .diesel {
		@include mq(760px){
			@include span(6);
		}

		padding: 2em 2em;
	}

	h3 {
		text-align: center;
		color: $blue;
		font-size: 2em;
	}

	.diesel {
		@include mq(760px){
			@include span(last 6);
		}
	}

	input {
		display: block;
		// text-transform: uppercase;
		width: 75%;
		margin: 0 auto;
		font-size: 1em;
		padding: .5em 0 .5em 1em;
		border: 1px solid #ccc !important;
	}

	.disclaimer {
		font-size: 75%;
		text-align: right;
		margin: 0 2rem 0 auto;
		width: 75%;
		
		@include mq($tablet){
			width: 25%;
		}
	}

	.results {
		.loader {
			width: 10em;
			margin: 1em auto;
			display: none;

			img {
				width: 100%;
				display: block;
			}
		}

		.savings {
			text-align: center;
			font-size: 2em;
			color: $blue;
			font-weight: 700;
			display: none;
			text-transform: uppercase;
		}
	}

	button {
		display: block;
		margin: 0 auto 1em;
		background: $red;
		position: relative;
		top: 2.25em;
	}
}