.page-template-careers, .page-template-openings, .page-template-career-department, .page-template-careers-v2 {
	.article-wrapper {
		max-width: 70em;
	}

	.join, .benefits {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		@include mq($tablet){
			flex-direction: row;
		}
	}

	.join {
		
		@include mq($tablet){
			// margin-bottom: 4em;
					}

		&-image {
			display: block;
			width: 100%;
			order: 2;
			@include mq($tablet){
				max-width: 50%;
				order: 0;
			}
			// margin-bottom: 1em;

			img {
				display: block;
			}
		}

		&-info {
			@include mq($tablet){
				margin-left: 2em;
				max-width: 50%;
			}
		}

		&-subtitle {
			color: $red;
			text-transform: uppercase;
			margin-bottom: .5rem;
			font-size: 1.25em;
		}
	}

	.benefits {

		&-info {
			@include mq($tablet){
				margin-right: 2em;
				max-width: 40%;
			}
		}
		
		&-subtitle {
			margin-bottom: 1em;
		}

		&-image {
			display: block;
			width: 100%;
			@include mq($tablet){
				max-width: 60%;
			}
		}

		&-icons img {
			@include span(2);
			padding: 1em .5em;

			&:last-child {
				@include span(last 2);
			}
		}
	}

	hr.no-top-margin {
		margin-top: 0;
	}

	.careers-call-to-action, .openings-call-to-action {
		background: $light-grey;
		padding: 2em;
		margin: 0 auto;

		@include mq($tablet){
			max-width: 75%;
		}

		p {
			color: $red;
			font-size: 1.5em;
		}

		.button {
			margin: 0;
		}
	}

	.job-openings { // V2 Design
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.job-opening {
			flex: 0 1 100%;
			border: 1px solid $blue;
			padding: 1rem;
			margin: 1rem 0;
			display: flex;
			// flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-between;
			@include mq($tablet){
				flex: 0 1 30%;
			}

			.button {
				margin: 1rem 0 0;
				align-self: flex-end;
			}
		}

		.opening-title {
			font-size: 1.75em;
			flex: 1 0 100%;
		}
	}

	.why-work-here-description {
		max-width: 50em;
		text-align: center;
		margin: 0 auto;
		margin-top: 2rem;
	}

	.intro-images {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 4rem;

		img {
			max-width: 350px;
			margin-bottom: 2rem;
		}
	}

	.career-departments {
		margin-top: 2rem;
		margin-bottom: 4rem;
		a {
			display: block;
			margin: 1rem;
				img {
					display: block;
					width: 100%;
				}
		}
		@include mq($tablet){
			display: flex;
			flex-wrap: wrap;
			a {
				flex: 0 1 calc(50% - 2rem);
			}
		}
	}

	.current-openings-byline {
		font-size: 2em;
		color: $red;
	}

	.current-openings {
		@include mq($tablet){
			display: flex;
			justify-content: space-between;
		}

		.opening {
			background: $light-grey;
			padding: 1rem;
			text-align: center;
			max-width: 50%;
			margin: 2rem auto;
			flex: 0 0 30%;

			.opening-title {
				text-transform: uppercase;
				margin: 0;
				color: $blue;
				font-family: $font-futura;
				font-size: 2em;
			}

			.opening-location {
				color: $red;
				font-size: 1.5em;
			}

			.button {
				margin: .5rem;
				font-weight: 700;
			}
		}


		.table-scroll {
			width: 100%;
		}

		table {
			text-align: center;
			th {
				background: $blue;
				color: $white;
				font-size: 1.25em;
				text-align: center;
			}

			.apply-now {
				font-weight: bold;
			}
		}
	}

}

.single-job_opening {
	
	.job-description {
		margin-top: 4rem;
	}

	.benefits {
		margin-bottom: 4rem;
		margin-top: 4rem;

		h2 {
			margin-bottom: 2rem;
		}

		&-icons {
			@include container;
		}
		&-icons img {
			@include span(2);
			padding: 1em .5em;

			&:last-child {
				@include span(last 2);
			}
		}
	}
	.job_duties_subtitle {
		color: $red;
	}
}