// Careers Landing Page (Main)
.careers-header {
	max-width: 100%;
	margin: -5rem auto 3rem;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	min-height: 525px;

	.first-div {
		width: 5806px; // needs to be exact width of image to measure transforms
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		transform: translate3d(0, 0, 0);
		background-size: contain;
		min-height: 540px;
		background-repeat: no-repeat;
	}

	.infinite-scroller {
		animation: infiniScroll 30s linear infinite;
	}

	@keyframes infiniScroll {
		100% {
			transform: translateX(-46.5%); // this value is tied to the max-width of the [div:first-of-type] property above (over 10s it will move the image 51.7% to the left if the width is changed, this will need to be adjusted to sync the new frames)
		}
	}

	&__overlay {
		max-width: 60rem;
		width: 100%;
		display: flex;
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translate(-50%, -80%);
		justify-content: space-between;
		flex-wrap: wrap-reverse;
		padding: 1rem;

		@include bp(md) {
			top: 70%;
			transform: translate(-50%, -70%);
			padding: 0;
		}

		.header-cta-box {
			max-width: 22.5rem;
			background-color: rgba($white, 0.9);
			padding: 1rem 1.5rem;
			border-radius: 5px;
			box-shadow: 0 0 29px rgba($dark-black, 0.6);
			margin: 0 auto;

			@include bp(sm) {
				max-width: 24.5rem;
				padding: 2rem 2.5rem;
			}

			h3 {
				color: $blue;
				text-transform: uppercase;
				font-size: 1.85rem;
				font-weight: bold;
				font-style: oblique;
				font-family: $careers-font;
				margin-bottom: 0.75rem;
			}

			p {
				line-height: 1.125; // 18px line height
				color: $careers-text-color;
			}

			.button {
				margin-top: 0.5rem;
				margin-bottom: 0;
			}
		}

		.header-cta-title {
			color: $white;
			font-family: $careers-font;
			font-style: oblique;
			font-weight: bold;
			text-transform: uppercase;
			text-shadow: 0 0 0.9em rgba($black, 0.3), 0 0 0.9em rgba($black, 0.3), 0 0 0.9em rgba($black, 0.3);
			margin: 0 auto;
			
			.mobile-header {
				display: inline-block;
				font-size: 2.5rem;
				margin-bottom: 0.3rem;

				@include bp(xs) {
					font-size: 3.25rem;
				}

				@include bp(960px) {
					display: none;
				}
			}

			.cta-text-top {
				display: none;

				@include bp(960px) {
					display: inline-block;
					font-size: 3.75rem;
					color: $white;
				}
			}

			.cta-text-bottom {
				display: none;
				
				@include bp(960px) {
					display: inline-block;
					font-family: $careers-font;
					color: $white;
					margin-bottom: 0.5rem;
					font-size: 6.8rem;
				}
			}
		}
	} // End [__overlay]
}

// edge-padding applied by wrapper
.careers-main {
	max-width: 45.5rem;
	margin: 0 auto 3rem;

	p { line-height: 1.125; } // set 18px line height for all paragraphs in this section
	.careers-intro-paragraph { margin-bottom: 3rem; } // more space below just this paragraph

	.blue-outline {
		letter-spacing: 1px;
		margin-bottom: 1.5rem;

		@include bp(md) {
			margin-bottom: 0;
		}
	}
	
	.jump-list {
		display: flex;
		align-items: left;
		flex-direction: column;
		margin-bottom: 5rem;
		justify-content: space-between;

		@include bp(sm) {
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.jump-link {
			color: #2b2b2b; // color only used here
			padding: 0;
			margin-top: 0.9rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			display: block;
			border-bottom: none;

			@include bp(560px) {
				display: inline-block;
				border-bottom: 1px solid $dark-black;
				padding: 1rem 0.25rem;
				margin: 0 1rem;

				&:hover { // no hover effects for mobile (quick clicks for truckers)
					border-color: $red;
					color: $red;
				}
			}

			&:last-of-type { margin-right: 0; }

			// This is done like this to achieve the "squished" double chevrons. Using '\00BB' will result in the chevrons being too close
			&:before {
				content: '\203A \203A  '; // &raquo;
				color: $red;
				font-weight: bold;
				font-size: 1rem;
				vertical-align: 0.1em; // centers item (font's bounding box makes 'vertical align' look wrong)
			}
		}
	}

	// used in both above and below sections
	.jump-title {
		color: #2b2b2b;
		font-weight: bold;
		font-size: 1.125rem;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	// 3 sections from jump list - global (id specific sections below)
	.careers-sections {
		padding-top: 1rem; // keep browser from "headbutting" the section header
		margin: 3rem auto;
		border-bottom: 1px solid $dark-black;

		&:last-of-type {
			border-bottom: none;
		}

		// adjust kerning and font size for lower titles
		.jump-title {
			letter-spacing: unset;
			font-size: 1rem;
		}
	}

	// first section
	#growth-ops {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.inner-left-text {
			max-width: 31rem;
			p { margin-bottom: 0.5rem; }
		}
	
		img { display: none; }

		@include bp(md) {
			img {
				display: block;
				height: 16rem; // 255px (rems rounded up)
			}
		}
	}

	// second section
	#benefits {

		.benefits-list {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin: 0;
				padding: 0;
				line-height: 1.125; // match paragraphs
			}
		}

		.benefits-icons {
			margin: 2rem auto 0.5rem;
			display: flex;
			justify-content: space-between;
			align-items: flex-start; // keep images from stretching
			flex-wrap: wrap;

			.icon-set {
				width: 100%;
				display: flex;
				justify-content: space-around;
				align-items: center;

				@include bp(sm) {
					width: 50%;
				}
			}

			img {
				margin: 1rem 3px;

				&:first-of-type { margin-left: 0; }
				&:last-of-type { margin-right: 0; }
				@include bp(md) { margin: 0 3px; }
			}

			// @include bp(md) {
			// 	img { width: 5.25rem; } 
			// }
		}

		@include bp(md) {
			.blue-outline {
				margin-bottom: 2.5rem;
			}
		}
	}
	// #culture{}  - currently flows without needing extra styles
}