// Full width footer container
#footer {
	background: $dark-blue;

	a {
		color: $white;
		border-bottom: none;
	}
}

.quick-links {
	background: $blue;
	padding: 1.5em 0;
	text-align: center;
	line-height: 2;

	.link-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		@include mq($tablet){
			flex-direction: row;

			a {
				width: 20%;
			}

			.sep {
				width: 2px;
				height: 2em;
				margin: 0;
			}
		}
	}

	.sep {
		width: 75%;
		height: 2px;
		margin: 1em 0;
		display: inline-block;
		background: $dark-blue;
	}

	a {
		font-size: 80%;
		// width: 20%;
		display: inline-block;
		// margin-right: 2em;
		margin: 0 2em;
		text-transform: uppercase;

		+ a {
			// border-left: 2px solid $dark-blue;
			// padding-left: 2em;
		}
	}
}

.social-links {
	padding: 2em 0;
	text-align: center;

	.link-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	a {
		display: inline-block;
		margin: 0 1em;
		min-width: 10%;
		max-width: 8em;

		// + a {
		// 	margin-left: 4em;
		// }
	}
}

.copyright {
	color: #E6E6E6;
	font-size: .75em;
}

// Agency Credit
#footer .agency {
	color: #E6E6E6;
	padding-bottom: 1rem;
	font-size: .75em;

	a {
		color: #E6E6E6;
	}
}