label.select-label {
	position: relative;

	&:after {
		content: '\f0d7';
		font-family: "FontAwesome", sans-serif;
		position: absolute;
		right: 1em;
		top: 50%;
		color: $white;
		transform: translateY(-50%);
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		appearance: none;
		border: 0;
		background: $light-red;
		background: linear-gradient( 145deg, $light-red, $darker-red );
		color: $white;
		padding: 1em 4em 1em 2em;
		border-radius: 100px;
		width: 100%;
	}
}

html body {

	.gform_wrapper.gf_browser_ie {
		// I don't know why this is needed.
		display: block !important;
	}

	#post-625 {
		max-width: 70em;
	}
	
	.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
		margin-top: 0;
	}

	.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper textarea, input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), textarea {
		border: 1px solid $light-grey;
		border-radius: .25em;
	}
	
	// Employment application style
	#gform_wrapper_4.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper textarea, input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), textarea {
		border: 1px solid $black;
		border-radius: .25em;
	}

	.gform_wrapper label.gfield_label {
		font-weight: inherit;
	}

	input, textarea {
		padding: .25em .5em;
	}

	.gf_repeater_add, .gf_repeater_remove {
		background: $dark-blue;
		color: $white;
		padding: .75em 1.25em;
		margin: 0 1em;
		display: inline-block;
	}

	.gform_wrapper ul li.gfield.repeater-first-field {
		margin-top: 2em;
		border-top: 1px solid $black;
		padding-top: 2em;
	}

	.ginput_container_repeater-end.ginput_container {
		padding: 2em 0;
	}

	.gform_wrapper .gsection.gfield {
		border: none;
		margin-top: 4rem;

		.gsection_title {
		//	margin-top: 2em;
			font-size: 2rem;
		}
	}
}
