.call-to-action-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 4em;
	position: relative;

	.home & {
		margin-top: -6em;
	}

	@include mq($tablet){
		flex-direction: row;
	}

	.card {
		position: relative;
		width: 100%;

		@include mq($tablet){
			width: 30%;
		}

		a {
			display: block;
			border: none;
			text-decoration: none;
		}

		img {
			display: block;
			margin: 0 auto;
			width: 100%;
		}
	}
	.card-title-wrapper {
		position: absolute;
		bottom: 2em;
		left: 2em;
		font-size: 4vw;

		@include mq($tablet){
			bottom: 2.5em;
			font-size: 1.5vw;
		}

		@include mq( 960px ){
			font-size: 1rem;
		}
	}

	.card-title {
		color: $red;
		font-size: 1.5em;
		text-transform: uppercase;
		display: block;
		font-weight: 700;
		font-family: 'Futura', Arial, sans-serif;
		font-style: italic;
		line-height: 1;
	}

	.home-call-to-action-cards-bg {
		background: $light-blue;
		height: 6em;
		width: 200vw;
		left: -50vw;
		padding: 0;
		position: absolute;
	}

	.call-to-action-cards-bg {
		background: $dark-blue;
		height: 8em;
		width: 200vw;
		left: -50vw;
		padding: 0;
		bottom: 0;
		position: absolute;
	}
}

.page-title-wrapper {
	padding: 9em 2em 4em;
	margin-top: -5em;
	margin-bottom: 2em;
}

[type="text/template"] {
	display: none;
}

.mfp-content {
	[type="text/template"] {
		display: block;
	}
}

.mfp {
	background: $white;
	width: 90%;
	max-width: 75em;
	margin: 0 auto;
	position: relative;
	padding: 2em;
}

.mfp-close {
	margin: 0;
}

#magnific-rewards, #magnific-login {
	.title, .subtitle {
		color: $blue;
		text-transform: uppercase;
		text-align: center;
	}

	.title {
		font-family: $font-futura;
		font-size: 1.25em;
		margin: 0;
		line-height: 1;

		@include mq($tablet){
			font-size: 2.5em;
		}
	}

	.subtitle {
		font-size: 1em;
		@include mq($tablet){
			font-size: 1.25em;
		}
	}

	.reward-cards-wrapper {
		@include container;
		.card {

			@include mq( $tablet ){

				@include span(6);

				&:nth-child(2n){
					@include span(last 6);
				}
				
			}

			a.graphic-link {
				display: block;
				font-size: 2em;
				font-family: $font-futura;
				text-transform: uppercase;
				color: $blue;
				margin: 0;
				padding-left: .5em;
				width: 100%;
				border: none;
				// height: 220px;
				// display: table-cell;
				// vertical-align: middle;
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: top center;
				background: none !important;
				position: relative;
				display: flex;
				align-items: center;

				> div {
					font-size: 2vw;
				}
			}

			&.view-all {
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: center;
				min-height: 220px;
				text-align: center;

				p {
					color: $blue;
					text-transform: uppercase;
					font-size: 1.5em;
					margin-bottom: 1rem;
				}

				.button {
					background: $red;
				}
			}
		}
	}
}

#magnific-login {
	max-width: 500px;

	.title {
		font-size: 2rem;
		line-height: 1;
	}

	.button {
		display: block;
	}
}

.accordion {
	.accordion-title {
		font-size: 1.5em;
		color: $blue;
		font-family: $font-futura;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 0;
		cursor: pointer;
		margin: .5em 0;

		&:before {
			content: '\f105';
			font-family: 'FontAwesome', $font-body;
			margin-right: .5em;
			// margin-top: .5em;
			display: inline-block;
			transition: all 200ms linear;
		}

		&.open:before {
			transform: rotate(90deg);
		}
	}
}

.page-template-intranet {
	.article-wrapper {
		max-width: 70em;
	}
}