$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 1200px,
  container-position: center,
  columns: 12,
  gutters: .25,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
		image: hide,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,
	),
	use-custom: (
		background-image: true,
		background-options: false,
		box-sizing: true,
		clearfix: false,
		rem: true,
	)
);

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.clearfix {
	@include clearfix;
}


.container {
	@include container;
}


@media screen and (min-width: 600px) {
	.content-column:not(.last_column) {
		padding-right: 2em;
	}
}