#header {
	font-weight: bold;

	@include mq($from: $menu-breakpoint + 1px, $until: 1500px){
		font-size: 80%;
	}

	.logo {
		display: block;
		// background-image: url('static/images/logo.png');
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
		// height: 3em;
		position: absolute;
		top: 0;
		top: -28px;
		// left: 2em;

		img {
			position: relative;
			min-height: 200px;
			min-width: 400px;
		}

		&-link {
			// position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			border: none;
		}
	}

	.mobile-header {
		display: none;
	}

	#menu-toggle {
		display: block;
		background: none;
		font-size: 1.5em;
		padding: 0;
		border-radius: 0;
		margin: 0 0 .25em 0;
		box-shadow: none;
		display: none;
	} // #menu-toggle

	.nav-wrapper, .mobile-wrap {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	#nav-main, #nav-secondary {
		@include clearfix;
		text-align: right;
		padding-right: 2em;
		text-transform: uppercase;
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: inline-block;

				+ li {
					margin-left: 1em;
				}
			}
		}

		.sub-menu {
			display: none;
		}

		a {
			display: inline-block;
		}
	
	} // Menus

	#nav-main {
		background: rgba( $white, .75 );
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		order: 2;
		width: 100%;

		a {
			border: none;
		}
	}

	#nav-secondary {
		background: $blue;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		order: 1;
		width: 100%;
		font-size: .85em;

		a {
			color: $white;
			border: none;
		}

		#menu-secondary {
			display: inline-block;
			padding-right: 2em;
			border-right: 2px solid $light-blue;
			margin-right: 2em;
		}

		.login.button {
			margin: 0;
			font-size: .9em;
			padding: 1em 1.5em;
		}
	}

} // #header

// Mobile Menu
@include mq($until: $menu-breakpoint ){
#header {

	.nav-wrapper {
		background: $dark-blue;
		background: $blue;
		color: $white;
		max-width: 300px;
		margin-left: auto;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1000;
		padding-top: 6em;
		height: 100vh;
		overflow: auto;
		overflow-y: scroll;
		transition: all 200ms linear;
		transform: translateX(300px);
	}

	.mobile-header {
		display: block;
		background: $dark-blue;
		background: $blue;
		padding: 1em;
		position: relative;
		z-index: 1001;
		display: flex;
		justify-content: space-between;
		height: 4em;
	}

	.mobile-logo {
		color: $white;
		background: url('static/images/mobile-logo.png');
		background-position: top center;
		background-size: 100%;
		background-repeat: no-repeat;
		width: 110px;
		height: 80px;
		position: relative;
		border: none;
		top: -1em;
	}

	.logo {
		display: none;
	}
	
	.location-link {
		color: $white;
		border: none;
		font-size: 1.75em;
		position: relative;
		top: -8px;
	}

	#menu-toggle {
		display: block;
	}

	#nav-main, #nav-secondary {
		.sub-menu {
			display: none;

			li, a {
				display: block;
			}
		}

		ul, li, a, ul li, ul li a {
			display: block;
		}

		ul li + li {
			margin: 0;
		}

	}

	.menu-item-has-children > a:after {
		content: '\f107';
		font-family: 'FontAwesome', $font-body;
		margin-left: 1em;
	}

	#nav-main {
		padding: 0;
		order: 0;
		background: none;
		// text-align: center;

		a {
			background: $white;
			display: block;
			border-bottom: 1px solid $dark-blue;
			padding: .5em 1rem;
		}

		.sub-menu {
			display: block;
			background: $dark-blue;
			text-align: right;
			display: none; // will be overridden with JS

			a {
				background: $dark-blue;
				color: $white;
				border-bottom: 1px solid $blue;
			}
		}
	}

	

	#nav-secondary {
		padding: 0;
		display: flex;
		flex-direction: column;
		background: $blue;
		padding-bottom: 1em;

		#menu-secondary {
			padding: 0;
			border: none;
			display: block;
			margin: 0;
			order: 2;
		}

		ul li + li {
			// margin: 1em 0;
		}

		ul li a {
			padding: .5em 1rem;
		}

		.button.login {
			// background: $white;
			// color: $blue;
			width: 70%;
			margin: 3em auto;
			text-align: center;
			outline: 3em solid $white;
			// border-radius: 1em;
			box-shadow: 0 0 0 1em $white;
		}
	}

}
} // end Media Query

// Header animations
#header.nav-open {
	.nav-wrapper {
		transform: translateX(0px);
	}
}
