.home {
	
	#header {

	} // #header

	#content {

	} // #content

	.callout {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		color: $white;
		padding: 3.5em 2.25em;
		margin: 2em 0;

		&.right {
			text-align: right;

			.callout-description, .callout-title {
				margin-left: auto;
			}
		}

		&.left {
			text-align: left;

			.callout-description, .callout-title {
				margin-right: auto;
			}
		}

		+ .callout {
			margin-top: 4em;
		}

		.callout-title {
			font-size: 1.5rem;
			font-style: italic;
			text-shadow: 0 0 5px rgba( $black, .75 );
			max-width: 50%;
			font-family: $font-futura;
			text-transform: uppercase;

			@include mq($desktop){
				font-size: 2rem;
			}
		}

		.callout-description {
			margin: 1em 0 2em;
			max-width: 80%;
			@include mq($tablet){
				max-width: 50%;
			}
		}

		.callout-buttons {
			margin: 1em 0 0;
			
			.button {
				background: $red;
				margin: 0;
				font-size: .8em;
				margin: 2em 2em 0;

				+ .button {
					// margin-left: 2em;
				}
			}
		}


	}

	#footer {
	
	} // #footer

} // .home

.loading-animation {
	background-color: $white;
	background-image: url('static/images/logo-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1002;
	transition: all .9s linear;
}

.loading-animation-playing {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	pointer-events: none;
}

.interactive-header {

	.foreground-image {
		flex: 1 0 auto;
		width: 30vw;
		background-size: contain;
		background-repeat: no-repeat;
		height: 50vh;
		align-self: flex-end;
	}

	.hero {
		background-size: cover;
		background-repeat:no-repeat;
		background-position: center center;
		min-height: 100vh;
		margin-top: -5rem;
		padding-top: 8rem;
		padding-bottom: 8em;
		
		@include mq($tablet){
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		@media screen and (min-height: 800px){
			min-height: 75vh;
		}

		h1 {
			color: $white;
			text-transform: uppercase;
			font-style: italic;
			text-shadow: 0 0 .5rem rgba( $black, .75 );
			line-height: 1;
			font-size: 8vw;
			margin: 1em 0;

			@include mq($tablet){
				width: 60%;
				margin-left: auto;
				font-size: 2.5em;
				margin: 0;
			}

			@include mq($desktop){
				font-size: 4em;
				white-space: nowrap;
			}

			span {
				font-size: 150%;
			}
		}
	}

	.image-tagline-link, .image-tagline, .tagline, .tagline-link {
		display: flex;
		align-items: center;
		justify-content: space-around;
		text-align: center;

		@include mq($tablet){
			justify-content: flex-end;
			text-align: left;
		}
	}

	.form {
		background: rgba($white, .75);
		border-radius: .5em;
		padding: 2em;
		box-shadow: 5px 5px 2em rgba($black, .5);
		margin-right: 8em;
		text-transform: uppercase;
		max-width: 30rem;
		width: 100%;
	
		.form-title {
			font-family: $font-futura;
			font-size: 2.5em;
			color: $blue;
			margin: 0 0 .5rem;
		}

		.form-tagline {
			margin-bottom: .5em;
			// color: $blue;
		}

		.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
			width: 100%;
			margin: 0;
		}
	}
}

.home .reviews {
	padding: 0;

	&-heading {
		margin: 4rem 0 -1.5rem;
		text-align: center;
		text-transform: uppercase;
		color: $blue;
		font-family: $font-heading;
		font-style: italic;
	}

	.review {
		position: relative;
		padding: 2rem 2rem;
		min-height: 200px;
		display: flex !important;
		flex-direction: column;
	}

	.review-text {
		position: relative;
		font-size: 1.25rem;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		flex: 1;
		color: $review-text;
		font-weight: bold;

		.quote {
			display: inline-block;
		}
	}

	.review-source {
		text-align: center;
		margin-top: 2rem;
		color: $review-source;
		font-style: italic;
	}

	.review-rating {
		// position: absolute;
		display: inline-block;
		top: 0;
		right: 0;
		// top: 50%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		// opacity: .2;
		// background: $white;
		color: $blue;
		padding: 0 1rem;
		vertical-align: middle;

		&-star {
			background: url('static/images/star.svg');
			background-size: contain;
			background-position: center center;
			width: 20px;
			height: 20px;
			display: inline-block;
		}
	}

	.slick-prev {
		left: .5rem;
		z-index: 100;
	}

	.slick-next {
		right: .5rem;
		z-index: 100;
	}
}
