.schedules {
	li + li {
		margin-top: 2em;
	}
}

.intranet-menu {
	margin-bottom: 4em;

	a {
		font-weight: bold;
	}
}

a.dashboard-link {
	margin: 0 1em;
}

#menu-intranet {
	margin: 0;
	display: inline-block;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		text-transform: uppercase;

		+ li {
			margin-left: 1em;
		}
	}
}

.page-template-intranet {
	.call-to-action-cards {
		display: none;
	}

	#footer {
		margin-top: 4em;
	}
}

.user-location-title {
	margin-top: 2rem;
}

.bulletin-board {
	a {
		border-bottom: none;
	}
}
