.fuel-prices {
	margin: -6em 0 4em;
	border-radius: 1em;
	overflow: hidden;

	.title {
		font-family: $font-futura;
		color: $white;
		padding: .25em 1em;
		text-align: center;
		font-size: 2em;
		text-transform: uppercase;
	}

	.prices {
		display: flex;
		flex-direction: column;
		color: $white;
		text-align: center;
		align-items: stretch;
		padding: 1em 0;

		@include mq( $tablet ){
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.price-wrapper {
		padding: 0 1em;
		margin: 1em 0;
		flex: 1 0 auto;
		
		+ .price-wrapper {
			@include mq( $tablet ){
				border-left: 1px solid $white;
			}
		}
	}

	.price-name {
		font-weight: 700;
		text-transform: uppercase;
	}

	.price {
		font-family: $font-futura;
		font-size: 2em;
		margin-top: .5em;
	}

	&[data-tab="cash"] {
		.title {
			background: $green;
		}

		.prices {
			background: $dark-green;
		}

		.price-tabs .tab.cash {
			color: $white;
			background: $dark-green;
			border-radius: 0 0 1rem 1rem;
		}
	}

	&[data-tab="credit"]{
		.title {
			background: $fuel-red;
		}

		.prices {
			background: $dark-red;
		}

		.price-tabs .tab.credit {
			color: $white;
			background: $dark-red;
			border-radius: 0 0 1rem 1rem;
		}
	}

	&[data-tab="debit"]{
		.title {
			background: $blue;
		}

		.prices {
			background: $dark-blue;
		}

		.price-tabs .tab.debit {
			color: $white;
			background: $dark-blue;
			border-radius: 0 0 1rem 1rem;
		}
	}

	.price-tabs {
		display: flex;
		float: left;
		background: linear-gradient( to right, $light-grey 0%, $light-grey 70%, $white 70% );

		@include mq( $tablet ){
			width: 50%;
		}
		@include mq( $desktop ){
			width: 80%;
		}

		.tab {
			background: $light-grey;
			padding: .5em 1em;
			line-height: 1;
			font-family: $font-futura;
			font-size: 4vw;
			text-transform: uppercase;

			@include mq( $tablet + 1px ){
				font-size: 2em;
			}

			@include mq( $desktop ){
				font-size: 2em;
			}

			&:hover {
				cursor: pointer;
			}

			&.credit {
				color: $fuel-red;
			}

			&.debit {
				color: $blue;
			}

			&.cash {
				color: $green;
				border-radius: 0 0 1rem 0;
			}
		}
	}

	.pricing-options {
		float: right;
		margin-top: 2em;
		margin-right: 1em;
		font-size: .75em;
	}

}

.page-title-wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.single-location .page-title {
	margin-bottom: 3rem;
}

.single-location {
	.page-title-wrapper {
		padding-bottom: 6em;
	}

	.location-info, .attraction-info, .service-info {
		margin-top: 2em;

		h2 {
			color: $blue;
			font-family: $font-futura;
			font-size: 2em;
			text-transform: uppercase;
			margin-bottom: 0;
		}
	}

	.left-column-hr {
		width: 90%;
		background: $light-grey;
		text-align: left;
		margin: 2em auto;

		@include mq( $tablet ){
			width: 40%;
			margin: 2em auto 2em 0;
		}
	}

	.location-info {
		display: flex;
	}

	.promo {
		@include mq($tablet){			
			float: right;
			max-width: 50%;
			width: 100%;
		}

		img {
			display: block;
			margin: 2em auto;
		}
	}
	
	.service-icons {
		margin-top: .5em;
		margin-bottom: 1em;
	}
	.service-icon {
		vertical-align: top;
		margin: 0 .5em 1em;
		// transform: scale(.75);
	}

	.block-link-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	.directions-link, .phone-link {
		display: inline-block;
		margin-top: 1em;
	}

	.weather-info {
		text-align: right;
		margin-left: 8em;

		.description {
			color: $blue;
			text-transform: uppercase;
			// margin-right: 1rem;
		}

		.temperature {
			color: $blue;
			font-family: $font-futura;
			font-size: 1.5em;
			text-transform: uppercase;
			// margin-right: 1rem;
		}

		.icon {
			width: 5em;
		}
	}

	.attraction-info {
		display: flex;
		justify-content: space-between;
		width: 100%;
		flex-direction: column;

		@include mq($tablet){
			flex-direction: row;
		}

		.attraction-list {
			color: $blue;
			padding: 0 0 0 1em;
			
			a {
				border-bottom: 0px solid $blue;

				&:hover {
					border-bottom: 1px solid $blue;
				}
			}

			li + li {
				margin-top: 1em;
			}
		}

		#location-map {
			width: 100%;
			height: 400px;
			
			@include mq($tablet){			
				// float: right;
				max-width: 50%;
			}
		}
	}
}

.post-type-archive-location {
	.archive-header {
		text-align: center;
		margin: 1em 0;
	}

	.article-wrapper {
		max-width: none;
	}
}

.locations-table {
	min-width: 100%;

	.sub {
		display: block;
		font-size: 75%;
	}
	
	@include mq($until: $tablet){
		tr, tbody, thead {
			display: block;
			width: 100%;
		}
		thead tr td:not(:first-child) {
			display: none;
		}

		tbody td {
			text-align: left;
			padding-top: .25em;
			padding-bottom: .25em;

			&:first-child {
				font-weight: bold;
				text-transform: uppercase;
			}
		}

		.unleaded-price:before {
			content: 'Unleaded - 10% Ethanol: ';
		}
		.regular-unleaded-price:before {
			content: 'Regular Unleaded - Pure Gasoline: ';
		}
		.mid-grade-price:before {
			content: 'Mid-Grade - 10% Ethanol: ';
		}
		.premium-price:before {
			content: 'Premium - 10% Ethanol: ';
		}
		.diesel-price:before {
			content: 'Diesel: ';
		}
		.bulk-def-price:before {
			content: 'Bulk DEF: ';
		}
	}

	td {
		display: block;
		text-align: center;
		white-space: nowrap;
		width: 100%;

		@include mq($tablet){
			display: table-cell;
			width: auto;
		}
	}

	td:first-child {
		text-align: left;
		width: 100%;
	}
}

@include mq($until: $tablet) {
	.biodiesel-ratio { display: none !important; }
}

@include mq($from: $tablet) {
	.diesel-table-head {
		padding-right: unset;
		text-align: right !important;
	}

	.diesel-price {
		padding-right: 0.25rem;
		text-align: right !important;
	}

	.biodiesel-ratio {
		display: table-cell !important;
		font-size: 14px;
		text-align: left !important;
		padding-left: unset;
	}
}

.mobile-biodiesel {
	display: inline-block;
	font-size: 14px;
	@include bp($tablet) { display: none; }
}