.reward-card-categories {
	text-align: center;
	margin: 2em 0 4em;
	display: none;

	@include mq($tablet){
		display: block;
	}

	p {
		text-transform: uppercase;
		color: $blue;
		font-weight: bold;
	}

	.categories-list {
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
		}

		a {
			display: inline-block;
			margin: .5em;
		}
		
		.current {
			background: $red;
		}
	}
}

.reward-cards {
	@include container;
		
	.card {
		@include mq( $tablet ){
			@include span(6);

			&:nth-child(2n){
				@include span(last 6);
			}

			margin-bottom: 4em;
		}
		min-height: 20em;

		p {
			margin: 0;
		}

		.button {
			margin: 1em 0;
		}

		.card-image-link {
			display: block;
		}
	}

	.card-tagline {
		font-family: $font-futura;
		text-transform: uppercase;
		color: $blue;
		margin-bottom: 1rem;
		margin-top: 1rem;
		font-size: 1.25em;
	}


}