.store-specials {
	margin-top: 2em;
	@include mq($tablet){
		margin-top: 4em;
	}

	img {
		display: block;
		width: 100%;
	}
	
	.special {
		display: block;
	}

	.special-large {
		width: 100%;
	}

	.special-small {
		@include span(6);

		&:last-child {
			@include span(last 6);
		}
	}
	
	.small-specials {
		margin-top: 1em;
	}

	.special-small img, .special-large img {
		box-shadow: .1em .1em 1em rgba($black, .5);
	}

	.flyer {
		margin: 2em auto 0;
		max-width: 50em;
		@include mq($tablet){
			margin: 4em auto 0;
		}
	}

	.flyer-download-button {
		background: $light-grey;
		color: $blue;

		&:hover {
			color: $blue;
		}
	}

	p.centered-text {
		margin: 0;
	}

}

.page-template-store-specials {
	.article-wrapper {
		max-width: 100%;
	}
}