.page-template-traveler-info {
	.article-wrapper {
		max-width: 70em;
	}

	.helpful-links {
		display: flex;
		flex-direction: column;
		justify-content: space-between;	
		
		@include mq($tablet){
			flex-direction: row;
		}

		.helpful-link {
			display: block;
			font-size: 2em;
			font-family: $font-futura;
			text-transform: uppercase;
			color: $white;
			border: none;
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			display: flex;
			text-align: center;
			align-items: center;
			flex: 1 0 auto;

			+ .helpful-link {
				margin-top: 1em;
			}

			@include mq($tablet){
				max-width: 32%;

				+ .helpful-link {
					margin-top: 0;
				}
			}

			> div {
				//display: flex;
				margin: auto;
				width: 100%;
				padding: 2em 1em;
			}
		}
	}
	
	.article-body {
		hr {
			margin: 2em 0;
		}
		h2 {
			margin-bottom: 1rem;
		}
	}

	.road-tips {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.tip {
			color: $white;
			padding: 3em;
			margin-bottom: 1em;
			display: flex;
			align-items: center;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			width: 100%;

			@include mq($small-tablet){
				width: calc(50% - .5em);
			}

			.wrapper {
				width: 100%;
			}

			.title {
				font-size: 2rem;
				font-style: italic;
				text-shadow: 0 0 5px rgba( $black, .75 );
				font-family: $font-futura;
				text-transform: uppercase;
				line-height: 1;
				margin: 0;
			}

			.excerpt {
				margin: 1em 0 2em;
				max-width: 80%;
				@include mq($tablet){
					max-width: 50%;
				}
			}

			.button {
				background: $red;
				margin: 0;
			}
		}

		.tip:first-child {
			width: 100%;
		}

		.tip:nth-child(2n+3){
			@include mq($small-tablet){
				margin-left: 1em;
			}
		}

		.tip:not(:first-child){
			text-align: right;
			align-items: flex-end;
			
			.excerpt {
				display: none;
			}

			.button {
				margin-top: 1em;
			}
		}
	}

	.blog-call-to-action {
		clear: both;
		margin-top: 2em;

		.button {
			margin: 0;
		}

		h2 {
			font-size: 2em;
		}
	}
}