.article-wrapper {
	max-width: 50em;
	margin: 0 auto;
	@include clearfix;
}

blockquote {
	border-left: 4px solid $dark-grey;
	background: $light-grey;
	margin: 0;
	padding: 1.5rem 2rem 0;
	line-height: 1.5;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	@include clearfix;
}

p {
	margin: auto auto 2rem;
}

a {
	color: $blue;
	border-bottom: 1px solid $blue;
	text-decoration: none;
	transition: all 200ms linear;

	&:hover {
		color: $dark-blue;
		border-bottom: 1px solid $dark-blue;
	}

	&.imgwrap {
		border: none;
	}
}

ul,
ol {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

ul li,
ol li {
	line-height: 1.5;
}

ul ul,
ol ul,
ul ol,
ol ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	/* Change heading typefaces here */
	font-family: sans-serif;
	margin-bottom: 1.5rem;
	line-height: 1;
	margin-top: 0;

	a {
		border-bottom: none;
	}
}
h1 {
	font-size: 4.242rem;
	line-height: 4.5rem;
	margin-bottom: 2rem;
}
h2 {
	font-size: 2.828rem;
	line-height: 3rem;
	margin-bottom: .5rem;
}
h3 {
	font-size: 1.414rem;
}
h4, h5, h6 {
	font-size: 1rem;
	margin-bottom: 1.5rem;
}
/* Code blocks */
code {
	vertical-align: bottom;
}
/* Hug the block below you */
.hug {
	margin-bottom: 0;
}

.futura {
	font-family: $font-futura;
	text-transform: uppercase;
}

.blue-text {
	color: $blue;
}

.page-title {
	font-family: $font-futura;
	text-align: center;
	color: $white;
	text-shadow: 0 0 1rem rgba( $black, .85 );
	margin: 0;
	text-transform: uppercase;
	font-size: 2em;
	line-height: 1;

	@include mq($small-tablet){
		font-size: 3em;
	}

	@include mq($tablet){
		font-size: 4.242rem;
		line-height: 4.5rem;
	}
}

.content-wrapper h2, .content h2 {
	color: $blue;
	text-transform: uppercase;
	font-family: $font-futura;
}

hr {
	background: $light-grey;
	margin: 4em 0;
	color: $light-grey;
	border-color: $light-grey;
	fill: $light-grey;
}

.gmb-infobubble {

	a {
		border-bottom: none;
	}
}