$light-red: #fe0000;
$darker-red: #e90202;
$black: #23232d;
$dark-grey: #333333;
$purple: #4e2973;
$dark-black: #000;
$careers-text-color: #3c3c3c;

$white: #FFF;
$light-grey: #EFEFEF;
$review-source: #A7A7A7;
$review-text: #3F3F3F;

$red: #dd232e;
$dark-red: #520B11;
$fuel-red: #7B0B14;
$dark-blue: #0c3762;
$blue: #114f8c;
$light-blue: #376599;

$dark-green: #36491C;
$green: #54742A;

$font-heading: 'proximanova', Arial, sans-serif;
$font-body: 'proximanova', Helvetica, Arial, sans-serif;
$font-futura: 'Futura', Arial, sans-serif;
$careers-font: 'futura-pt', sans-serif;

$small-tablet: 400px;
$tablet: 768px;
$desktop: 960px;

$menu-breakpoint: 1300px;

// mq include
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px)  { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}