/**
 * Theme Name: 24/7 Travel Stores Theme
 * Author: 502 Media Group
 * Author URI: http://502mediagroup.com/
 * Version: 1.5
 */
@import "reset";
@import "mq";
@import "susy";
* {
	box-sizing: border-box;
}

@import "variables";
@import "grid";
@import "forms";
@import "buttons";
@import "tables";
@import "utilities";


@font-face {
    font-family: 'Futura';
    src: url('static/fonts/324715_0_0.eot');
    src: url('static/fonts/324715_0_0.eot?#iefix') format('embedded-opentype'),
         url('static/fonts/324715_0_0.woff2') format('woff2'),
         url('static/fonts/324715_0_0.woff') format('woff'),
         url('static/fonts/324715_0_0.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'proximanova';
    src: url('static/fonts/proximanova-regular-webfont.eot');
    src: url('static/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('static/fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('static/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('static/fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('static/fonts/proximanova-regular-webfont.svg#proximanova') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximanova';
    src: url('static/fonts/proximanova-bold-webfont.eot');
    src: url('static/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('static/fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('static/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('static/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('static/fonts/proximanova-bold-webfont.svg#proximanova') format('svg');
    font-weight: bold;
    font-style: normal;
}


.futura, .Futura {
	font-family: 'Futura', $font-body;
	font-weight: normal;
	font-style: normal;
}

html, body {
    -webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.5;
	font-family: $font-body;
	overflow-x: hidden;
	overflow-y: scroll;
	background: $white;
	scroll-behavior: smooth; // needed for smooth "jump link" scrolling (careers page)
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}

img {
	max-width: 100%;
	height: auto;
}

@import "typography";
@import "header";
@import "footer";
@import "location";
@import "reward-cards";
@import "calculator";
@import "specials";
@import "careers";
@import "careers-v3";
@import "traveler-info";
@import "intranet";
@import "forums";
@import "global-patterns";

@import "tinymce";
@import "blog";
@import "comments";
@import "home";